// screen sizes copied from bootstrap
// xs < 768px <= sm < 992px <= md < 1200px <= lg
$screen_sm: 768px;
$screen_md: 992px;
$screen_lg: 1200px;
$col_w: .08333333; // a span1 bootstrap col has this percentage width

@mixin weird_sizing($w, $h) {
    width: 0;
    height: 0;
    padding-right: $w;
    padding-bottom: $h;
    box-sizing: border-box;
    position: relative;
}
@mixin image($filename, $dir: '') {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-image: url('/static/img/' + $dir + $filename);
}
@mixin responsive_image($filename, $dir: '') {
    @include image($filename, $dir);
    @media (max-width: $screen_md - 1px) { // sm
        background-image: url('/static/img/screen_small/' + $dir + $filename);
    }
    @media (min-width: $screen_md) and (max-width: $screen_lg - 1px) { // md
        background-image: url('/static/img/screen_medium/' + $dir + $filename);
    }
    @media (min-width: $screen_lg) { // lg
        background-image: url('/static/img/screen_large/' + $dir + $filename);
    }
}
@mixin image_border() {
    border-style: solid;
    border-color: white;
    border-left-width: 5px;
    &:first-child {
        border-left-width: 0;
    }
}
@mixin responsive_font_size($min_size) {
    @media (max-width: $screen_sm - 1px) {
        font-size: 1.5 * $min_size;
    }
    @media (min-width: $screen_sm) and (max-width: $screen_md - 1px) {
        font-size: 1.5 * $min_size;
    }
    @media (min-width: $screen_md) and (max-width: $screen_lg - 1px) {
        font-size: 1 * $min_size;
    }
    @media (min-width: $screen_lg) {
        font-size: 1 * $min_size;
    }
}

@font-face {
    font-family: forTitles;
    src: url('/static/fonts/MyriadPro-Light.otf');
}
body {
    font-family: helvetica, sans-serif;
}

.container {
    margin-left: 0;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.topbar {
    margin-top: -7px;
}
.main {
    margin-top: 10px;
}
h1 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 64px;
    line-height: 1em;
    font-weight: 200;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
h1.homepage {
    margin-left: 16px;
    margin-top: 20px;
}

.iframe-container {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

/* tiles */
.big-tiles {
    padding: 0 10px 10px 10px;
    display: inline-block;
    float: left;
}
.tile {
    width: 300px;
    height: 300px;
    margin: 0;
    border: 10px solid white;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    position: relative;
    background-color: black;
}
.tile .image,
.tile .name,
.tile a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}
.tile .image {
    z-index: 1;
}
.tile .name {
    z-index: 2;
    color: #95eeb6;
    font-size: 30px;
    font-weight: 200;
    font-family: forTitles;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 1em;
    overflow-x: hidden;
    overflow-y: hidden;
    text-shadow: 1px 1px 1px black;
    padding: 8px 8px 4px 8px;
    top: initial;
    bottom: 0;
    height: initial;
    max-height: 100%;
    background-color: rgba(0,0,0,0.45);
    box-sizing: border-box;
}
.tile:hover .name {
    color: #a7eec1;
    background-color: rgba(0,0,0,0.4);
    text-shadow: 1px 1px 1px rgb(50,50,50);
    -webkit-transition: all .25s;
    transition: all .1s;
}
.tile a {
    z-index: 3;
}

.side .tile {
    border-left-width: 0;
    border-right-width: 0;
}
.side .tile .name {
    @include responsive_font_size(20px);
}

.side .tile.current {
    @include weird_sizing(100%, 100%);
}
.side .tile.current .name {
    z-index: 0;
}

$prev_next_tile_h: 0.5;
$prev_next_min_tile_h: 40px;
.side .tile.prev,
.side .tile.next {
    @media (max-width: $screen_sm - 1px) {
        width: 100%;
        height: $prev_next_min_tile_h;
        box-sizing: content-box;
    }
    @media (min-width: $screen_sm - 1px) {
        @include weird_sizing(100%, $prev_next_tile_h * 100%);
    }
}
.side .tile.next .name {
    right: 0;
    left: initial;
}
.side .tile.next .name,
.side .tile.prev .name {
    width: initial;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    @media (max-width: $screen_sm - 1px) {
        line-height: $prev_next_min_tile_h;
    }
    // NOTE this is hacky but the 3 or 2 refers to the col span that the
    // side tile is going to have at this screen size
    @media (min-width: $screen_sm) and (max-width: $screen_md - 1px) {
        line-height: $prev_next_tile_h * $col_w * 3 * $screen_sm - 18px;
    }
    @media (min-width: $screen_md) and (max-width: $screen_lg - 1px) {
        line-height: $prev_next_tile_h * $col_w * 2 * $screen_md - 18px;
    }
    @media (min-width: $screen_lg) {
        line-height: $prev_next_tile_h * $col_w * 2 * $screen_lg - 18px;
    }
}

.side .tile.home {
    width: 100%;
    height: initial;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}
.side .tile.home .image {
    display: none;
}
.side .tile.home .name {
    display: inline-block;
    position: static;
    word-wrap: initial;
    word-break: initial;
    text-overflow: ellipsis;
}

//////////////////

/* flow chart */
table.flowchart {
    margin-bottom: 1em;
}
td.text {
    vertical-align: top;
    border: 1px solid rgb(203, 213, 213);
    font-size: 12px;
}
td.arrow {
    vertical-align: middle;
    text-align: center;
}
td .td-inner {
    margin: 3px;
    margin-top: -6px;
}
///////////////


/* images */
.images {
    margin-bottom: 1em;
    display: inline-block;
    width: 100%;
    clear: both;
}
.images .border {
    @include image_border();
}
.images .image {
    display: inline-block;
    float: left;
}

.img-link-container {
    position: relative;
}
.img-link-container a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

// SPECIFIC IMAGE FILE NAMES
$img_galileo: 'galileo.jpg';
$img_rickshawjs: 'rickshawjs.png';
$img_en: 'en.png';
$img_yak_dung: 'yak_dung.jpg';
$img_solsource: 'solsource.jpg';
$img_apples: 'apples.jpg';
$img_notebook: 'notebook.png';
$img_waazam: 'waazam_space.png';
$img_beach: 'beach.jpg';
$img_sale: 'sale.jpg';
$img_zach: 'with_zach.jpg';
$img_mhd: 'mhd.jpg';
$img_pipe: 'laying_pipe.jpg';
$img_bali: 'at_sua_bali.jpg';

// SPECIFIC IMAGES IN CONTEXT
@mixin big_tile($filename) {
    @include image($filename, '280px_tiles/');
}
.big-tiles .image.galileo {
    @include big_tile($img_galileo);
}
.big-tiles .image.waazam {
    @include big_tile($img_waazam);
}
.big-tiles .image.apples {
    @include big_tile($img_apples);
}
.big-tiles .image.solsource {
    @include big_tile($img_solsource);
}
.big-tiles .image.lissa {
    @include big_tile('lissa2.png');
}
.big-tiles .image.chladni {
    @include big_tile('chladni2.png');
}
.big-tiles .image.en {
    @include big_tile($img_en);
}
.big-tiles .image.rickshawjs {
    @include big_tile($img_rickshawjs);
}
.big-tiles .image.bali {
    @include big_tile($img_bali);
}

@mixin side_tile($filename) {
    @include responsive_image($filename, 'side_tiles/');
}
.side .image.galileo {
    @include side_tile($img_galileo);
}
.side .image.waazam {
    @include side_tile($img_waazam);
}
.side .image.apples {
    @include side_tile($img_apples);
}
.side .image.solsource {
    @include side_tile($img_solsource);
}
.side .image.lissa {
    @include side_tile('lissa2.png');
}
.side .image.chladni {
    @include side_tile('chladni2.png');
}
.side .image.en {
    @include side_tile($img_en);
}
.side .image.rickshawjs {
    @include side_tile($img_rickshawjs);
}
.side .image.bali {
    @include side_tile($img_bali);
}

.project-page .image.yak-dung {
    @include responsive_image($img_yak_dung);
    @include weird_sizing(60%, 44%);
}
.project-page .image.solsource {
    @include responsive_image($img_solsource);
    @include weird_sizing(33%, 44%);
}
.project-page .image.apples {
    @include responsive_image($img_apples);
    @include weird_sizing(30%, 36%);
}
.project-page .image.notebook {
    @include responsive_image($img_notebook);
    @include weird_sizing(65%, 36%);
}
.project-page .image.chladni {
    @include responsive_image('chladni.png');
    @include weird_sizing(100%, 45%);
}
.project-page .image.lissa {
    @include responsive_image('lissa1.png');
    @include weird_sizing(100%, 31.8%);
}
.project-page .cat {
    @include responsive_image('cat.png');
    @include weird_sizing(100%, 24%);
    background-position-x: 50%;
    background-position-y: 50%;
}

.about-me .image.beach {
    @include responsive_image($img_beach);
    @include weird_sizing(100%, 23.5%);
}
@mixin about_me_square($filename) {
    @include weird_sizing(25%, 25%);
    @include responsive_image($filename);
}
.about-me .image.sale {
    @include about_me_square($img_sale);
}
.about-me .image.zach {
    @include about_me_square($img_zach);
}
.about-me .image.mhd {
    @include about_me_square($img_mhd);
}
.about-me .image.pipe {
    @include about_me_square($img_pipe);
}


//////////////////
