// screen sizes copied from bootstrap
// xs < 768px <= sm < 992px <= md < 1200px <= lg
$screen_sm: 768px;
$screen_md: 992px;
$screen_lg: 1200px;

@mixin weird_sizing($w, $h) {
    width: 0;
    height: 0;
    padding-right: $w;
    padding-bottom: $h;
    box-sizing: border-box;
    position: relative;
}
@mixin image($filename) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    @media (min-width: 616px) {
        background-image: url('/static/img/container_w_750px/' + $filename);
    }
    @media (max-width: 615px) {
        background-image: url('/static/img/container_w_600px/' + $filename);
    }
}
@mixin image_border() {
    border-style: solid;
    border-color: white;
    border-left-width: 5px;
    &:first-child {
        border-left-width: 0;
    }
}
@mixin responsive_font_size($min_size) {
    @media (max-width: $screen_sm - 1px) {
        font-size: $min_size;
    }
    @media (min-width: $screen_sm) and (max-width: $screen_md - 1px) {
        font-size: 1.1 * $min_size;
    }
    @media (min-width: $screen_md) and (max-width: $screen_lg - 1px) {
        font-size: 1.73 * $min_size;
    }
    @media (min-width: $screen_lg) {
        font-size: 2.5 * $min_size;
    }
}

@font-face {
    font-family: forTitles;
    src: url('/static/fnt/MyriadPro-Light.otf');
}
body {
    font-family: helvetica, sans-serif;
}

.container {
    margin-left: 0;
    padding-left: 25px;
}

.main {
    margin-top: 10px;
}
h1 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 64px;
    line-height: 1em;
    font-weight: 200;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
h1.homepage {
    margin-left: 16px;
    margin-top: 20px;
}

.iframe-container {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

/* tiles */
.big-tiles {
    padding: 0 10px 10px 10px;
    display: inline-block;
    float: left;
}
.tile {
    width: 300px;
    height: 300px;
    margin: 0;
    border: 10px solid white;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    position: relative;
    background-color: black;
}
.tile .image,
.tile .name,
.tile a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}
.tile .image {
    z-index: 1;
}
.tile .name {
    z-index: 0;
    color: white;
    font-size: 72px;
    font-weight: 200;
    font-family: forTitles;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    letter-spacing: -.05em;
    line-height: 1em;
    overflow-x: hidden;
    overflow-y: hidden;
    text-shadow: 1px 1px 1px black;
}
.tile:hover .name {
    z-index: 2;
}
.tile a {
    z-index: 3;
}
.side .tile {
    @include weird_sizing(100%, 100%);
    border-left-width: 0;
    border-right-width: 0;
}
.side .tile.current {
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: black;
    margin-left: -10px;
}
.side .tile .name {
    @include responsive_font_size(22px);
}
//////////////////

/* flow chart */
table.flowchart {
    margin-bottom: 1em;
}
td.text {
    vertical-align: top;
    border: 1px solid rgb(203, 213, 213);
    font-size: 12px;
}
td.arrow {
    vertical-align: middle;
    text-align: center;
}
td .td-inner {
    margin: 3px;
    margin-top: -6px;
}
///////////////


/* images */
.images {
    margin-bottom: 1em;
    display: inline-block;
    width: 100%;
    clear: both;
}
.images .border {
    @include image_border();
}
.images .image {
    display: inline-block;
    float: left;
}

.img-link-container {
    position: relative;
}
.img-link-container a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

// SPECIFIC IMAGE FILES
.galileo {
    @include image('galileo.jpg');
}
.rickshawjs {
    @include image('rickshawjs.png');
}
.en {
    @include image('en.jpg');
}
.yak-dung {
    @include image('yak_dung.jpg');
}
.project-page .yak-dung {
    @include weird_sizing(62%, 46%);
}
.solsource {
    @include image('amy_testing_solsource.jpg');
}
.project-page .solsource {
    @include weird_sizing(33%, 46%);
}
.apples {
    @include image('current_phone_tech.jpg');
}
.project-page .apples {
    @include weird_sizing(30%, 36%);
}
.notebook {
    @include image('notebook.png');
}
.project-page .notebook {
    @include weird_sizing(65%, 36%);
}
.waazam {
    @include image('waazam_space.png');
}
.project-page .waazam {
    @include image('waazam.jpg');
    @include weird_sizing(100%, 64%);
}
.chladni {
    @include image('chladni2.png');
}
.project-page .chladni {
    @include image('chladni.png');
    @include weird_sizing(100%, 45%);
}
.lissa {
    @include image('lissa2.png');
}
.project-page .lissa {
    @include image('lissa1.png');
    @include weird_sizing(100%, 31.8%);
}
.beach {
    @include image('beach.jpg');
}
.about-me .beach {
    @include weird_sizing(100%, 23.5%);
}
.sale {
    @include image('sale.jpg');
}
.zach {
    @include image('with_zach.jpg');
}
.mhd {
    @include image('mhd.jpg');
}
.pipe {
    @include image('laying_pipe.jpg');
}
.bali {
    @include image('at_sua_bali.jpg');
    background-position-y: 50%;
}
.bike-pump {
    @include image('bamboo_bicycle_pump.jpg');
}
.string-fling {
    @include image('string_fling.jpg');
}
.about-me .image.square {
    @include weird_sizing(25%, 25%);
}

//////////////////
