$name_bg: transparent;
$triangle_bg: black;
$name_h: 2em;
$triangle_w: 15px;
$font_color: black;

@mixin weird_sizing($w, $h) {
    width: 0;
    height: 0;
    padding-right: $w;
    padding-bottom: $h;
    box-sizing: border-box;
    position: relative;
}
@mixin image($filename, $dir: '') {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-image: url('/static/img/' + $dir + $filename);
}

@font-face {
    font-family: MyriadProLight;
    src: url('/static/fonts/MyriadPro-Light.otf');
}
body {
    color: $font_color;
    font-size: 16px;
    font-family: MyriadProLight,"Helvetica Neue",helvetica,sans-serif;
    background: #d6d6d6;
    background-image: url('/static/img/noise.png');
}
body.no-background-blend-mode {
    background-image: none;
    background: rgb(250, 250, 250);
}

p, li {
    font-weight: 900;
    font-size: 100%;
}

b {
    font-weight: 500;
}

.row {
    padding-bottom: 10px;
}

.container {
    margin-left: auto;
    padding-left: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 768px;
    border-width: 0 10px;
    border-color: white;
    border-style: solid;
    background-color: white;
}
.container.project-page {
    background: white;
    position: relative;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    background-clip: padding-box;
}
.close-project-page {
    position: absolute;
    left: -51px;
    top: 13px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 50px solid $triangle_bg;
}

.topbar {
    margin-top: -7px;
}
.main {
    margin-top: 10px;
}

h1 {
    line-height: 1em;
    font-family: "Andale mono",sans-serif;
}

h2 {
    font-size: 24px;
}

.iframe-container {
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 1em;
    width: 90%;
}

/* tiles */

.tile {
    padding: 0;
}

.tile .image {
    width: 0;
    height: 0;
    padding-left: 100%;
    padding-bottom: 100%;
}

.tile .name {
    position: relative;
    height: $name_h;
    font-size: 1em;
    line-height: 1em;
}
.tile .name-inner {
    position: relative;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    color: black;
    background: transparent;
    border-left: 2px solid transparent;
    //border-left:$triangle_w solid transparent;
    //border-right:$triangle_w solid transparent;
    background-clip: padding-box;
    padding: 0.5em 0;
}
.tile .triangle-br {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: $triangle_w solid $triangle_bg;
  border-bottom: $name_h solid $name_bg;
}
.tile .triangle-bl {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-right: $triangle_w solid $triangle_bg;
  border-bottom: $name_h solid $name_bg;
}
.tile .triangle-tl {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-right: $triangle_w solid $triangle_bg;
  border-top: $name_h solid $name_bg;
}
.tile .triangle-tr {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: $triangle_w solid $triangle_bg;
  border-top: $name_h solid $name_bg;
}

/* publications */
p.publication {
    font-family: "Andale mono",monospace;
    font-size: 75%;
    font-weight:100;
}
a.publication {
    color: $font_color;
}
span.publication {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color:black;
}


//////////////////

/* flow chart */
table.flowchart {
    margin-bottom: 1em;
}
td.text {
    vertical-align: top;
    border: 1px solid rgb(203, 213, 213);
    font-size: 12px;
}
td.arrow {
    vertical-align: middle;
    text-align: center;
}
td .td-inner {
    margin: 3px;
    margin-top: -6px;
}
///////////////


/* images */
.images {
    margin-bottom: 1em;
    display: inline-block;
    width: 100%;
    clear: both;
}
.images.tight {
    margin-bottom: 0;
}
.pin {
    display:inline;
    width: 200px;    
}

$border_w: 5px;
.image.border {
    border-style: solid;
    border-color: white;
}
.image.border.all {
    border-width: $border_w;
}
.image.border.left {
    border-width: 0 0 0 $border_w;
}
.image.border.right {
    border-width: 0 $border_w 0 0;
}
.image.border.top {
    border-width: $border_w 0 0 0;
}
.image.border.bottom {
    border-width: 0 0 $border_w 0;
}

.images .image {
    display: inline-block;
    float: left;
}

.img-link-container {
    position: relative;
}
.img-link-container a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.caption {
  font-weight: 200;
  font-size: 90%;
  color: rgb(70, 70, 70);
}

// SPECIFIC IMAGE FILE NAMES
$img_galileo: 'galileo_w_pin.jpg';
$img_rickshawjs: 'rickshawjs.png';
$img_en: 'en.png';
$img_yak_dung: 'yak_dung.jpg';
$img_solsource: 'solsource.jpg';
$img_apples: 'apples.jpg';
$img_notebook: 'notebook.png';
$img_waazam: 'waazam_space.png';
$img_beach: 'beach.jpg';
$img_sale: 'sale.jpg';
$img_zach: 'with_zach.jpg';
$img_mhd: 'mhd.jpg';
$img_pipe: 'laying_pipe.jpg';
$img_bali: 'at_sua_bali.jpg';
$img_bali_parts: 'bali_components.jpg';
$img_bali_mech: 'bali_lowering_blinds.png';
$img_bali_CAT: 'bali_CAT.png';
$img_bali_house: 'bali_house.jpg';
$img_myodj: 'beatwave.png';
$img_hugbug: 'hugbug.jpg';
$img_peacebone_gsr: 'peacebone_gsr.png';
$img_threads: 'weave_4x4.png';
$img_weave4x4: 'weave_4x4_3up_WEB.jpg';
$img_weave7seg: 'weave_sevenseg_WEB.jpg';
$img_crochet: 'crochet_3up_WEB.jpg';
$img_code510: 'code510.png';
$img_nyd2015: 'nyd2015.jpg';
$img_hint: 'hint_shirt_tile.png';

// SPECIFIC IMAGES IN CONTEXT
@mixin big_tile($filename) {
    @include image($filename, '280px_tiles/');
}
.big-tiles .image.galileo {
    @include big_tile($img_galileo);
}
.big-tiles .image.waazam {
    @include big_tile($img_waazam);
}
.big-tiles .image.apples {
    @include big_tile($img_apples);
}
.big-tiles .image.solsource {
    @include big_tile($img_solsource);
}
.big-tiles .image.lissa {
    @include big_tile('lissa2.png');
}
.big-tiles .image.chladni {
    @include big_tile('chladni2.png');
}
.big-tiles .image.en {
    @include big_tile($img_en);
}
.big-tiles .image.rickshawjs {
    @include big_tile($img_rickshawjs);
}
.big-tiles .image.nyd2015 {
    @include big_tile($img_nyd2015);
}
.big-tiles .image.bali-house {
    @include big_tile($img_bali_house);
}
.big-tiles .image.myodj {
    @include big_tile($img_myodj);
}
.big-tiles .image.hugbug {
    @include big_tile($img_hugbug);
}
.big-tiles .image.peacebone-gsr {
    @include big_tile($img_peacebone_gsr);
}
.big-tiles .image.threads {
    @include big_tile('weave_4x4.png');
}
.big-tiles .image.code510 {
    @include big_tile($img_code510);
}
.big-tiles .image.hint {
    @include big_tile($img_hint);
}

@mixin project_img($filename) {
    @include image($filename, 'screen_large/');
}
.project-page .image.yak-dung {
    @include project_img($img_yak_dung);
    @include weird_sizing(60%, 44%);
}
.project-page .image.solsource {
    @include project_img($img_solsource);
    @include weird_sizing(33%, 44%);
}
.project-page .image.apples {
    @include project_img($img_apples);
    @include weird_sizing(30%, 36%);
}
.project-page .image.notebook {
    @include project_img($img_notebook);
    @include weird_sizing(65%, 36%);
}
.project-page .image.chladni {
    @include project_img('chladni.png');
    @include weird_sizing(100%, 45%);
}
.project-page .image.lissa {
    @include project_img('lissa1.png');
    @include weird_sizing(100%, 31.8%);
}
.project-page .cat {
    @include project_img('cat.png');
    @include weird_sizing(100%, 24%);
    background-position: 50% 50%;
}
.project-page .image.bali-CAT {
    @include project_img($img_bali_CAT);
    @include weird_sizing(100%, 20%);
}
.project-page .image.bali-parts {
    @include project_img($img_bali_parts);
    @include weird_sizing(68%, 30%);
    background-position: 50% 100%;
}
.project-page .image.bali-mech {
    @include project_img($img_bali_mech);
    @include weird_sizing(30%, 30%);
    background-position: 100% 50%;
    background-size: contain;
}
.project-page .image.peacebone-gsr {
    @include project_img($img_peacebone_gsr);
    @include weird_sizing(100%, 30%);
}
.project-page .image.weave4x4 {
    @include project_img($img_weave4x4);
    @include weird_sizing(100%, 30%);
}
.project-page .image.crochet {
    @include project_img($img_crochet);
    @include weird_sizing(100%, 33%);
}
.project-page .image.weave7seg {
    @include project_img($img_weave7seg);
    @include weird_sizing(100%, 45%);
}

.about-me .image.beach {
    @include project_img($img_beach);
    @include weird_sizing(100%, 23.5%);
}
@mixin about_me_square($filename) {
    @include weird_sizing(25%, 25%);
}
.about-me .image.sale {
    @include project_img($img_sale);
    @include about_me_square($img_sale);
}
.about-me .image.zach {
    @include project_img($img_zach);
    @include about_me_square($img_zach);
}
.about-me .image.mhd {
    @include project_img($img_mhd);
    @include about_me_square($img_mhd);
}
.about-me .image.pipe {
    @include project_img($img_pipe);
    @include about_me_square($img_pipe);
}
