<h1>Solar Cooker for the Himalayas</h1>

<table class="pics">
    <tr>
        <td id="yak-dung">
            <img src="/static/img/yak_dung.jpg">
        </td>
        <td>
            <img src="/static/img/amy_testing_solsource.jpg">
        </td>
    </tr>
</table>

<p>Tibetan women spend hours each day collecting wood or yak dung fuel to burn  inside their winter homes or summer tents for heating and cooking. This depletes forests or gathers bacteria on their hands, which they do not wash, creates dangerously smoky homes, and incurs difficult manual labor.</p>

<p>Working with <a href="http://www.oneearthdesigns.com/" target="_blank">One Earth Designs</a>, I helped develop their parabolic solar cooker prototype through field testing, immersive user research, materials research, and simulation.</p>

