body {
    margin: 0;
    width: 100%;
    height: 100%;
}
body * {
    border-color: rgb(255, 112, 0);
    border-style: solid;
    border-width: 0;
}

#sidebar {
    width: 98px;
    border-right-width: 2px;
    height: 100%;
    position: fixed;
    background: white;
}
#name {
    width: 94px;
    padding: 2px;
    border-bottom-width: 2px;
    height: 94px;
}
#desc {
    width: 94px;
    padding: 2px;
    height: 496px;
}

#main {
    margin-left: 100px;
    width: 4010px;
}
#tabs {
    display: inline-block;
    float: left;
    height: 98px;
    padding-left: 10px;
    position: fixed;
    width: 4010px;
}
.tab {
    display: inline-block;
    float: left;
    padding: 2px;
    border-width: 2px;
    width: 92px;
    margin-right: 698px;
    height: 50px;
    margin-top: 35px;
    /*
    -moz-transition: margin-right .01s, -moz-transform .01s;
    -webkit-transition: margin-right .01s, -webkit-transform .01s;
    -o-transition: margin-right .01s, -o-transform .01s;
    transition: margin-right .01s, transform .01s;
    */
}
#content {
    border-top-width: 2px;
    display: inline-block;
    float: left;
    padding-left: 10px;
    height: 500px;
    width: 100%;
    margin-top: 98px;
}
.tab-content {
    width: 700px;
    margin-right: 100px;
    display: inline-block;
    float: left;
}

.clear {
    clear: both;
}

