body {
  padding-top: 70px; }

/* navbar and tabs */
.my-navbar {
  background: white;
  border-bottom: 1px solid #00d68d;
  box-shadow: 0 0 3px #349170;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }

.name {
  display: block;
  position: fixed;
  top: 1em;
  right: 1em;
  color: black; }

ul.my-tabs {
  list-style-type: none;
  margin: 0;
  padding: 0; }

ul.my-tabs li {
  display: inline-block; }

ul.my-tabs li a {
  display: block;
  padding: 15px;
  -webkit-transition: background-color .05s;
  -moz-transition: background-color .05s;
  -o-transition: background-color .05s;
  -transition: background-color .05s; }

ul.my-tabs li.active a,
ul.my-tabs li.active a:hover {
  background: #00d68d;
  color: white; }

ul.my-tabs li a:hover {
  color: #00d68d;
  background: #ebfff5; }

.project {
  padding-bottom: 1em; }

/* flow chart */
td.text {
  vertical-align: top;
  border: 1px solid #cbd5d5;
  font-size: 12px; }

td.arrow {
  vertical-align: middle;
  text-align: center; }

td .td-inner {
  margin: 3px;
  margin-top: -6px; }

/* bootstrap overrides */
.container {
  max-width: 750px; }

table {
  border-collapse: separate; }

a {
  color: #00d68d; }

p > a {
  color: #00d68d; }

p > a:hover {
  color: #fffffa;
  background: #00f18d; }

a,
a:hover {
  text-shadow: none;
  text-decoration: none; }

/* images */
.images {
  margin-bottom: 1em;
  display: inline-block;
  width: 100%;
  clear: both; }

.yak-dung {
  width: 0;
  height: 0;
  padding-right: 62%;
  padding-bottom: 46%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border-style: solid;
  border-color: #dfe9e9;
  border-width: 5px;
  border-left-width: 0;
  background-size: cover;
  background-repeat: no-repeat; }
  .yak-dung:first-child {
    border-left-width: 5px; }
  @media (min-width: 616px) {
    .yak-dung {
      background-image: url("/static/img/container_w_750px/yak_dung.jpg"); } }
  @media (max-width: 615px) {
    .yak-dung {
      background-image: url("/static/img/container_w_600px/yak_dung.jpg"); } }

.solsource {
  width: 0;
  height: 0;
  padding-right: 33%;
  padding-bottom: 46%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border-style: solid;
  border-color: #dfe9e9;
  border-width: 5px;
  border-left-width: 0;
  background-size: cover;
  background-repeat: no-repeat; }
  .solsource:first-child {
    border-left-width: 5px; }
  @media (min-width: 616px) {
    .solsource {
      background-image: url("/static/img/container_w_750px/amy_testing_solsource.jpg"); } }
  @media (max-width: 615px) {
    .solsource {
      background-image: url("/static/img/container_w_600px/amy_testing_solsource.jpg"); } }

.apples {
  width: 0;
  height: 0;
  padding-right: 30%;
  padding-bottom: 36%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border-style: solid;
  border-color: #dfe9e9;
  border-width: 5px;
  border-left-width: 0;
  background-size: cover;
  background-repeat: no-repeat; }
  .apples:first-child {
    border-left-width: 5px; }
  @media (min-width: 616px) {
    .apples {
      background-image: url("/static/img/container_w_750px/current_phone_tech.jpg"); } }
  @media (max-width: 615px) {
    .apples {
      background-image: url("/static/img/container_w_600px/current_phone_tech.jpg"); } }

.notebook {
  width: 0;
  height: 0;
  padding-right: 65%;
  padding-bottom: 36%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border-style: solid;
  border-color: #dfe9e9;
  border-width: 5px;
  border-left-width: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain; }
  .notebook:first-child {
    border-left-width: 5px; }
  @media (min-width: 616px) {
    .notebook {
      background-image: url("/static/img/container_w_750px/notebook.png"); } }
  @media (max-width: 615px) {
    .notebook {
      background-image: url("/static/img/container_w_600px/notebook.png"); } }

.waazam {
  width: 0;
  height: 0;
  padding-right: 100%;
  padding-bottom: 64%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border-style: solid;
  border-color: #dfe9e9;
  border-width: 5px;
  border-left-width: 0;
  background-size: cover;
  background-repeat: no-repeat; }
  .waazam:first-child {
    border-left-width: 5px; }
  @media (min-width: 616px) {
    .waazam {
      background-image: url("/static/img/container_w_750px/waazam.jpg"); } }
  @media (max-width: 615px) {
    .waazam {
      background-image: url("/static/img/container_w_600px/waazam.jpg"); } }

.chladni {
  width: 0;
  height: 0;
  padding-right: 100%;
  padding-bottom: 30%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border-style: solid;
  border-color: #dfe9e9;
  border-width: 0;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 616px) {
    .chladni {
      background-image: url("/static/img/container_w_750px/chladni.png"); } }
  @media (max-width: 615px) {
    .chladni {
      background-image: url("/static/img/container_w_600px/chladni.png"); } }

.lissa {
  width: 0;
  height: 0;
  padding-right: 100%;
  padding-bottom: 31.8%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border-style: solid;
  border-color: #dfe9e9;
  border-width: 0;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 616px) {
    .lissa {
      background-image: url("/static/img/container_w_750px/lissa1.png"); } }
  @media (max-width: 615px) {
    .lissa {
      background-image: url("/static/img/container_w_600px/lissa1.png"); } }

.beach {
  width: 0;
  height: 0;
  padding-right: 100%;
  padding-bottom: 23.5%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border-style: solid;
  border-color: #dfe9e9;
  border-width: 0;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 616px) {
    .beach {
      background-image: url("/static/img/container_w_750px/beach.jpg"); } }
  @media (max-width: 615px) {
    .beach {
      background-image: url("/static/img/container_w_600px/beach.jpg"); } }

.sale {
  width: 0;
  height: 0;
  padding-right: 25%;
  padding-bottom: 25%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border-style: solid;
  border-color: #dfe9e9;
  border-width: 0;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 616px) {
    .sale {
      background-image: url("/static/img/container_w_750px/sale.jpg"); } }
  @media (max-width: 615px) {
    .sale {
      background-image: url("/static/img/container_w_600px/sale.jpg"); } }

.zach {
  width: 0;
  height: 0;
  padding-right: 25%;
  padding-bottom: 25%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border-style: solid;
  border-color: #dfe9e9;
  border-width: 0;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 616px) {
    .zach {
      background-image: url("/static/img/container_w_750px/with_zach.jpg"); } }
  @media (max-width: 615px) {
    .zach {
      background-image: url("/static/img/container_w_600px/with_zach.jpg"); } }

.mhd {
  width: 0;
  height: 0;
  padding-right: 25%;
  padding-bottom: 25%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border-style: solid;
  border-color: #dfe9e9;
  border-width: 0;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 616px) {
    .mhd {
      background-image: url("/static/img/container_w_750px/mhd.jpg"); } }
  @media (max-width: 615px) {
    .mhd {
      background-image: url("/static/img/container_w_600px/mhd.jpg"); } }

.pipe {
  width: 0;
  height: 0;
  padding-right: 25%;
  padding-bottom: 25%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border-style: solid;
  border-color: #dfe9e9;
  border-width: 0;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 616px) {
    .pipe {
      background-image: url("/static/img/container_w_750px/laying_pipe.jpg"); } }
  @media (max-width: 615px) {
    .pipe {
      background-image: url("/static/img/container_w_600px/laying_pipe.jpg"); } }

.img-link-container {
  position: relative; }

.img-link-container a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }
