body {
    padding-top: 70px;
}

.img-backdrop {
    padding: 5px;
    background: rgb(200, 220, 210);
}
img {
    max-width: 100%;
}

.project {
    padding-bottom: 1em;
}

/* bootstrap overrides */
.container {
    max-width: 750px;
}
