{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.project_header(ctx.page, ctx, "teaching/") }}


<p>
    In Technologies of Representation, we surveyed how different technologies represent the world in different ways, the tradeoffs to different approaches, and ethical considerations of different approaches. For the final project, student teams did informal audits of generative AI tools to critically investigate how these generative AI tools represent the world, and what biases generative AI might display.
</p>



<p>
Students projects:
</p>

<ul>
    <li>
        <a href="https://medium.com/@c61629917/audit-of-demographic-bias-in-chatgpt-4s-age-recognition-7d0170d5b9a6">
            Demographic Bias in ChatGPT-4 Age Recognition - Naomi Belay, Charlie Rivers, Brayden Smith
        </a>
    </li>
    <li>
        <a href="https://medium.com/@shajpaulme/gendered-prompts-gendered-outputs-auditing-representation-in-open-ais-sora-9b3affff106e">
            Gender Representation in OpenAI Sora - Krish Shajpaul, Jayson Ndungu
        </a>
    </li>
    <li>
        <a href="https://medium.com/@reaganmaxwell47/tracking-discriminatory-patterns-and-cultural-stereotypes-in-generative-ai-images-30960df22c16">
            Demographic Representation in Google Gemini Sports Activities - Reagan Maxwell, Sarah Wolf
        </a>
    </li>
    <li>
        <a href="https://medium.com/@scottrivenbark898/auditing-google-gemini-to-test-if-it-holds-gender-biases-494174e804a2">
            Searching for Gender Bias in Google Gemini - Scott Rivenbark, Aubrey Poole, Christina Sweeney 
        </a>
    </li>
    <li>
        <a href="https://medium.com/@hhallett3/gender-bias-in-the-french-healthcare-field-represented-through-google-gemini-a-generative-ai-tool-392feb81ab87">
            Gender Bias in Google Gemini Representation of French Healthcare Professions - Hope Hallett, Gabby Geringer, Claire Kelly
        </a>
    </li>
    <li>
        <a href="https://medium.com/@jimmyparis1010/microsoft-copilot-generative-ai-audit-83628ca41419">
            Moral Dilemmas in Microsoft Copilot - Jimmy Paris, Matthew Sabella
        </a>
    </li>
    <li>
        <a href="https://medium.com/@acpdavis2005/data-analysis-with-googles-gemini-ai-e77464f1a93e">
            Data Analysis with Google Gemini - AC Davis, Corbin Greene
        </a>
    </li>
    <li>
        <a href="https://medium.com/@kkelly99/censorship-in-ai-analyzing-content-moderation-on-deepseek-e5f94245fa17">
            Analyzing Political Censorship in DeepSeek - Kieran Kelly, Vincent Soro
        </a>
    </li>
</ul>


<p>
    Readings included:
</p>

<ul>
    <li>
        Alkhatib, A. 2021. To Live in Their Utopia: Why Algorithmic Systems Create Absurd Outcomes. Human Factors in Computing Systems (CHI).
    </li>
    <li>
        Buolamwini, J. and Gebru, T. 2018. Gender Shades: Intersectional Accuracy Disparities in Commercial Gender Classification. Proceedings of Machine Learning Research.
    </li>
        Benjamin, R. 2024. The New Artificial Intelligentsia. Los Angeles Review of Books.
    </li>
    <li>
        Boehner, K., DePaula, R., Dourish, P. and Sengers, P. 2007. How emotion is made and measured. International Journal of Human-Computer Studies.
    </li>
    <li>
        Boehner, K. 2009. Reflections on representation as response. Interactions.
    </li>
    <li>
        Devlin, K. 2023. Power in AI: Inequality Within and Without the Algorithm. The Handbook of Gender, Communication, and Women’s Human Rights. M. Gallagher and A.V. Montiel, eds. Wiley. 123–139.
    </li>
    <li>
        D’Ignazio, C. and Klein, L. 2020. Data Feminism. MIT Press.
    </li>
    <li>
        Di Lodovico, C. 2023. Exploring the Tensions of Self-tracking Wearable Technologies Through Design. Human-Computer Interaction.
    </li>
    <li>
        Elsden, C., Selby, M., Durrant, A. and Kirk, D. 2016. Fitter, happier, more productive: what to ask of a data-driven life. Interactions.
    </li>
    <li>
        Elsden, C., Durrant, A.C., Chatting, D. and Kirk, D.S. 2017. Designing Documentary Informatics. Designing Interactive Systems.
    </li>
    <li>
        Leahu, L., Sengers, P. and Mateas, M. 2008. Interactionist AI and the Promise of Ubicomp, or, How to Put Your Box in the World Without Putting the World in Your Box. Ubiquitous Computing.
    </li>
    <li>
        Leahu, L. 2016. Ontological Surprises: A Relational Perspective on Machine Learning. Designing Interactive Systems.
    </li>
    <li>
        Nafus, D. 2016. Introduction. Quantified: Biosensing Technologies in Everyday Life. D. Nafus, ed. MIT Press.
    </li>
    <li>
        Verbeek, P.-P. 2006. Materializing Morality: Design Ethics and Technological Mediation. Science, Technology, & Human Values.
    </li>
</ul>

<p>
    Tile image is adapted from the student project Demographic Representation in Google Gemini Sports Activities.
</p>
<p>
    Taught in my role as assistant professor at Georgia Institute of Technology.
</p>

{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
