{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.project_header(ctx.page, ctx) }}

<img src="/static/img/largest/vacuum_form_molding.gif">
<p class="caption">At a vacuum form molding workshop.</p>

<p>
  [firstname].[lastname]@gmail.com, &nbsp;
  <a href="/static/pdf/NouraHowell_CV.pdf">CV</a>, &nbsp;
  <a href="https://github.com/Noura">github</a>, &nbsp;
  <a href="https://scholar.google.com/citations?user=urDLnnEAAAAJ">Google Scholar</a>
</p>

<br>
<h4>Publications</h4>

{{ macros.list_all_publications(ctx.publications_list) }}

<br>
<h4>Awards</h4>

<p>Center for Long-Term Cybersecurity, 2019, for the project Speculating Smart City Cybersecurity with the Heart Sounds Bench. <a href="https://cltc.berkeley.edu/2019grantees/">List of all grantees</a>.</p>

<p>Center for Technology, Society, and Policy Fellow, 2019, for the project <a href="https://ctsp.berkeley.edu/projects2019/#biosensing">Engaging Expert Stakeholders about the Future of Menstrual Biosensing</a> in collaboration with <a href="http://people.ischool.berkeley.edu/~richmond/">Richmond Wong</a>, <a href="https://www.sarahfox.info/">Sarah Fox</a>, and <a href="https://fspektor.myportfolio.com/">Franchesca Spektor</a>.</p>

<p>Jacobs Ignite Grant, 2018 (<a href="http://jacobsinstitute.berkeley.edu/news/introducing-fall-2018-innovation-catalysts-grant-winners/">listing</a>).</p>

<p>Arts Research Center Fellowship, 2018 (<a href="http://arts.berkeley.edu/arc-fellows/">listing</a>) in collaboration with <a href="http://art.berkeley.edu/people/greg-niemeyer/">Greg Niemeyer</a>.</p>

<p>Center for Technology, Society, and Policy Fellow for the project <a href="https://ctsp.berkeley.edu/projects2018/#menstrualBiosensing">Menstrual Biosensing Survival Guide</a> in collaboration with <a href="http://people.ischool.berkeley.edu/~richmond/">Richmond Wong</a> and <a href="https://www.sarahfox.info/">Sarah Fox</a>.</p>

<p>Outstanding Graduate Student Instructor, 2016-2017, University of California, Berkeley.</p>

<p>Cota Robles Fellowship, 2014, University of California, Berkeley. "Awarded to exceptional applications who also advance the Regents' goals for diversification of the academy."</p>

<br>
<h4>Teaching</h4>

<p>
<b>Creative Programming & Electronics</b>, teaching assistant, spring 2018, with professor J.D. Zamfirescu. This class teaches introductory programming with p5js and Arduino. My duties included providing critique and mentorship on student projects, hands-on Arduino instruction, and preparing some course materials. <a href="https://github.com/zamfi/ucb-jacobs-creative-programming-electronics-spring-2018">course website</a>, <a href="http://guide.berkeley.edu/search/?P=des+inv+23">departmental listing</a>.
</p>

<p>
<b>Tangible User Interfaces</b>, teaching assistant, fall 2016 &amp; fall 2017, with professor Kimiko Ryokai. This class teaches theory and practice of tangible interaction design. My duties included providing critique and mentorship on student projects and hands-on Arduino, electronics, and soldering instruction. <a href="https://bcourses.berkeley.edu/courses/1464145/assignments/syllabus">course website</a>, <a href="https://www.ischool.berkeley.edu/courses/info/262">departmental listing</a>.
</p>

<p>
<b>Deconstructing Data Science</b>, spring 2016, with professor David Bamman. This class surveys quantitative machine learning methods in conjunction with critical analysis of the assumptions and bias these algorithms can reinforce. My duties included Python tutoring and project advising. <a href="http://courses.ischool.berkeley.edu/i290-dds/s16/">course website</a>, <a href="https://www.ischool.berkeley.edu/courses/info/290/dds">departmental listing</a>.
</p>

<p>
<b>Gray Area Foundation's Creative Code Immersive</b>, fall 2014, with instructor Matt Ganucheau. This class surveys Arduino, Processing, electronics, and JavaScript for artists. My duties included hands-on instruction in programming and electronics. <a href="https://grayarea.org/education/immersive/">Gray Area listing</a>, <a href="https://github.com/GrayAreaorg/Fall-Immersive-2014">github</a>.
</p>

<br>
<h4>Talks & Guest Lectures</h4>

<p><b>Emotional Biosensing: Possibilities, Problematics, & Critical Alternatives</b>, fall 2017, for the <a href="https://www.ischool.berkeley.edu/events/2017/phd-research-reception">I School PhD Research Reception</b>, <a href="https://www.youtube.com/watch?v=RbxLavF-a_Y">video</a>.</p>

<p><b>A Case Study of Emotional Biosensing: Tensions of Data-Driven Reflection</b>, fall 2017, for the Society for the Social Studies of Science (4S) Annual Meeting, Boston, MA.</p>

<p><b>Emotional Biosensing</b>, fall 2017, for the course <a href="http://courses.ischool.berkeley.edu/i290t-mrt/f17/">Mind-Reading and Telepathy for Beginners and Intermediates</a> taught by <a href="http://cosmopol.is/">Nick Merrill</a> and <a href="https://people.ischool.berkeley.edu/~chuang/">John Chuang</a>. <a href="/static/pdf/17_GuestLecture_MindReadingTelepathy.pdf">slides</a>.</p>

<p><b>Information vs. Interaction: A Case Study of Affective Computing</b>, spring 2016, for the course <a href="http://courses.ischool.berkeley.edu/i290-dds/s16/">Deconstructing Data Science</a> taught by <a href="http://people.ischool.berkeley.edu/~dbamman/">David Bamman</a>. <a href="/static/pdf/16_GuestLecture_DeconstructingDataScience.pdf">slides</a>.</p>

<p><b>Rethinking Data with Emotion & Materiality</b>, fall 2016, for the course <a href="http://courses.ischool.berkeley.edu/i290-shda/f16/">Sensors, Humans, Data, Apps</a> taught by <a href="http://people.ischool.berkeley.edu/~chuang/">John Chuang</a>. <a href="/static/pdf/16_GuestLecture_SensorsHumansDataApps.pdf">slides</a>.</p>

<p><b>Rethinking Data with Emotion and Materiality</b>, fall 2016, for the course <a href="https://www.ischool.berkeley.edu/courses/info/262">Tangible User Interfaces</a> taught by <a href="http://people.ischool.berkeley.edu/~kimiko/">Kimiko Ryokai</a>. <a href="/static/pdf/16_GuestLecture_TangibleUserInterfaces.pdf">slides</a>.</p>

<br>
<h4>Workshops</h4>

<p>Quick intro to human centered design and engineering, fall 2017, for the course <a href="https://www.ischool.berkeley.edu/courses/info/239">Technology and Delegation</a> taught by <a href="https://www.ischool.berkeley.edu/people/deirdre-mulligan">Deirdre Mulligan</a>.</p>

<p>Day long facilitation of design thinking workshop for tech industry executives in Sri Lanka, summer 2017, <a href="https://www.facebook.com/pg/letmeknow.lk/photos/?tab=album&album_id=1819121541438209">event description and photos</a>.

{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
