
<div class="images about-me">
    <div class="image beach"></div>

    <div class="image square sale"></div>
    <div class="image square zach"></div>
    <div class="image square mhd"></div>
    <div class="image square pipe"></div>
</div>

<p>As PhD student at the <a href="http://www.ischool.berkeley.edu/">School of Information</a> at UC Berkeley, I do design research at the convergence of biosensing and textile technologies for affective and creative interactions.</p>

<p>Previously I worked on creative applications at Intel Labs and the MIT Media Lab, music-related front end software development for The Echo Nest, and sustainable development projects in Bali, Morocco, and China.</p>

<p>
Contact: [firstname].[lastname]@gmail.com
</p>

<p>
    <a href="/static/pdf/NouraHowell_Resume.pdf" target="_blank">resume</a>
</p>
<p>
    <a href="https://github.com/Noura" target="_blank">github</a>
</p>


