{% import 'macros.html' as macros %}
{{ macros.base_header("about") }}


<div class="container">
  <div class="row">
    <div class="col-12">

      <h1>About</h1>

      <img style="width:300px; max-width:100%; padding-bottom:1em;" src="/static/img/largest/me_nye_shoot_1_square.jpg" alt="Howell stands leaning her elbows on a railing. She is smiling, wearing a gray button down shirt, with glasses.">

      <p>
      I am an assistant professor in Digital Media, in the School of Literature Media and Communication, at Georgia Tech, with an adjunct assistant professor appointment in the School of Interactive Computing at Georgia Tech.
      </p>

      <p>
      My research has been funded by 
      an NSF CAREER award,
      a Google TensorFlow Faculty Award,
      and
      a Ralph E. Powe Junior Faculty Enhancement Award,
      among other sources.
      </p>

      <p>
      I direct the <a href="https://sites.gatech.edu/futurefeelings/">Future Feelings Lab</a>. We develop novel technologies that create unique feelings both physical and emotional. We also investigate the social and ethical impacts of Emotion AI, which aims to predict human emotions via computational means. Our methods are wide-ranging, including arts research, interviews, autoethnography, and psychophysical studies.
      </p>

      <p>I completed my PhD at the School of Information at the University of California, Berkeley, where I was a member of the 
<a href="http://biosense.berkeley.edu/">BioSENSE</a> lab. Previously I have worked as a human centered designer and engineer in Singapore, Morocco, and China, as well as at the MIT Media Lab, Intel Labs, Microsoft, and The Echo Nest.
      </p>

    </div>
  </div>
</div>
{{ macros.base_footer() }}
