{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.project_header(ctx.page, ctx, "teaching/") }}

<p>
In this graduate seminar, we read and discussed readings about social implications of biosensing technologies in everyday life. Topics included a survey of the latest technical biosensing capabilities, affective computing, smart home and smart city applications, self-tracking, somaesthetic design, predictive policing, biometric surveillance, and artistic provocations.
</p>

<p>
Taught in my role as assistant professor at North Carolina State University.
</p>


{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
