{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.project_header(ctx.page, ctx, "teaching/") }}

<p>
This class explores using the computer as an expressive medium. Students do weekly labs in p5.js that ramp up in complexity, alongside weekly discussions of relevant new media artists.
</p>


<h2>Student Work</h2>

<h3>Scenes</h3>

<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <img src="/static/img/teaching/24F_6310_scenes/24F_6310_scenes.gif" alt="Exploring pieces in an art gallery from different perspectives of increasingly critical audience reception, before seeing the backstory of how personally meaningful and full of struggle the artworks really are.">
</div>

<p class="caption">
    One fall 2024 student group imagined a future world in which people can buy and sell memories. They created commodified memories of an art gallery, in which the artist's pieces receive initially positive and then increasingly harsh audience reception. The viewer can explore the 3D space of the art gallery, until they find a back door that opens into a closet revealing the inner thoughts of the artist and the hidden layers of meaning and personal struggle of
    the artworks. 
    Team:
    <a href="https://cubic-star-b3a.notion.site/Figma-Momento-c2984900b7084aae8f5a99ee402dfc5c">
        Sheleah Harris
    </a>
    , <a href="https://www.thaisalvarenga.com/">
        Thai&#x301;s Alvarenga
    </a>
    , <a href="https://audschung.com/">
        Audrey Chung
    </a>
    , and Kimberly Velez.
</p>

<h3>A World Where Advertisements Infiltrate All Aspects of Our Lives</h3>

<img 
    src="/static/img/teaching/24F_6310_infini_ad/6310_infini_ad.png"
    alt="Silhouette figure of a person in front of a wide LED wall showing a field of flowers overlaid with speculative future advertisements">

<p class="caption">
    One student group in fall 2024 imagined a speculative future world in which advertisements rudely infiltrate and detract from all aspects of our lives. They created an interactive installation for the on-campu library's extra-wide curved LED wall. The wall initially shows a beautiful field of flowers. As a person approaches, as detected by a distance sensor, intrusive speculative future advertisements increasingly invade the beautiful scene.
    Team: DK Kapoor and Willa Zheng.
</p>



<p>
Taught in my role as assistant professor at Georgia Tech.
</p>

<p>
Tile image is from an assignment by <a href="https://www.thaisalvarenga.com/">Thai&#x301;s Alvarenga</a>.
</p>


{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
