{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.teaching_header(ctx.page, ctx) }}


<p>
This undergraduate class introduces programming with p5js and Arduino. My duties included providing critique and mentorship on student projects, hands-on Arduino instruction, and preparing some of the course materials.
</p>

<p>
<a href="https://github.com/zamfi/ucb-jacobs-creative-programming-electronics-spring-2018">course website</a>, <a href="http://guide.berkeley.edu/search/?P=des+inv+23">departmental listing</a>
</p>

<img class="text-flow" style="width:560px;" src="/static/img/1000px_wide/desinv23_footpads.jpg">
<p class="caption">
Student work: One team created custom footpad sensors for a Twister-like educational circuits game.
</p>

<p>
Taught in my role as teaching assistant with instructor J.D. Zamfirescu at University of California, Berkeley.
</p>




{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
