{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.teaching_header(ctx.page, ctx) }}


<p>
In this class, students critically analyze social impacts of digital technology, and creatively imagine alternatives. By learning about sociotechnical imaginaries, students start to unpack prevalent narratives around society and technology, learn that these narratives are not inevitable, and imagine alternative narratives. Topics included sociotechnical imaginaries, algorithms of oppression, filter bubbles, fake news, biometric surveillance, and
emotional biosensing. We tried out the <a href="/projects/design_futuring.html">alternative approaches to design futuring</a>. Readings included Ruha Benjamin, Safiya Umoja Noble, Joy Buolamwini, Sheila Jasanoff, Sang-Hyun Kim, and Paul Dourish.
</p>

<p>
Students projects:
</p>

<ul>
    <li>
        <a href="https://spark.adobe.com/page/rPfXdDGIy5vLm/">Sara Trudan, Erin Migneco, Clio Maxwell - UNNAMED Magazine - The Future of Beauty</a>
    </li>
    <li>
        <a href="https://akroberd.medium.com/envi-magazine-4fdd2f45aefc">Anna Roberds, Charles Walker, Grace Sieck - ENVI Magazine - A Retrospective on Sustainability Issues from the Year 2040</a> (thumbnail picture from their project)
    </li>
    <li>
        <a href="https://mhcallah.medium.com/are-you-getting-this-a221b2d11c78">Madi Callahan, Logan Ray, Addy Holmes - Are You Getting This - Reimagining a World Where People are Liberated from Fears of Sexual Harassment</a>
    </li>
    <li>
        <a href="https://rcyouman.medium.com/movement-of-the-future-piezoelectricity-as-a-ubiquitous-energy-source-ead88f6edf4b">Ray Youman, Adam Suddarth, Matt Norris - Movement of the Future - Piezoelectricity as a Ubiquitous Energy Source</a>
    </li>
    <li>
        <a href="https://ncstaywiththetimes.medium.com/nc-stay-with-the-times-e6becf9858c9">Parker Mitchell, Drew Hickland, Maura Estes - NC Stay with the Times - Student-Centered Social Media for NC State</a>
    </li>
</ul>

<p>
Taught in my role as assistant professor at North Carolina State University.
</p>

{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
