{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.project_header(ctx.page, ctx, "teaching/") }}



<p>
What&rsquo;s wrong with the internet, and what are you going to do about it? In this undergraduate class for communication majors, we engaged this question through readings and critical making. Topics included algorithmic oppression, biometric surveillance, content moderation, and emotional biosensing. Readings included Safiya Umoja Noble, Joy Buolamwini, Simone Browne, and Sarah Roberts. 
</p>


<img src="/static/img/280px_tiles/why_is_curly_hair.png">
<p class="caption">
While reading Noble's book <i>Algorithms of Oppression: How Search Engines Reinforce Racism</i>, students explored biases embedded in predictive search results. In response to racialized bias against curly hair as unprofessional, one group created a digital magazine, <i>Candid Curly Collaborative</i>, with portraits and interviews of people's experiences with curly hair.
<a href="https://mamchugh.medium.com/candid-curly-collaborative-36a838b87583">Sandra Garcia, Marissa McHugh - Candid Curly Collaborative</a>
</p>

<p>
Student projects:
</p>

<ul>
    <li>
        <a href="https://mamchugh.medium.com/candid-curly-collaborative-36a838b87583">Sandra Garcia, Marissa McHugh - Candid Curly Collaborative</a>
    </li>
    <li>
        <a href="https://madison-mallory.medium.com/sexism-in-television-4646e97d9e6e">Madison Mallory, Greer Gorra, Chloe Campbell, Jenaye Gaudreau - Sexism in Television</a>
    </li>
    <li>
        <a href="https://ammulli2.medium.com/our-group-the-toxic-task-force-focuses-on-the-realm-of-online-gaming-and-how-these-free-spaces-21b3ef4e1c99">Madison Neely, Ashley Mullins, and Alex Koonce - Content Moderation and Online Gaming</a>
    </li>
    <li>
        <a href="https://atkling.medium.com/misprint-bc3468d25fa8">Aaron Kling - Misprint</a>
    </li>
    <li>
        <a href="https://tjnichol.medium.com/nowomanlagbehind-24fe9a69474c">TJ Nichols, Lucas Martin - &#35;NoWomanLagBehind</a>
    </li>
    <li>
        <a href="https://medium.com/@jhudson3/the-gender-pay-gap-in-professional-sports-e702589986da">Tommy Delauney, Jonathan Hudson - The Gender Gap in Professional Sports</a>
    </li>
</ul>

<p>
Taught in my role as assistant professor at North Carolina State University.
</p>


{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
