{% import 'macros.html' as macros %}
{{ macros.base_header("cv") }}

<div class="container">
  <div class="row">
    <div class="col-12">

      <h1>CV</h1>

      <p style="padding-top:1em;">
      <a href="/static/pdf/NouraHowell_CV.pdf">CV available as a pdf</a>
      </p>

      <img style="padding-bottom:1em; padding-top:2em;" src="/static/img/largest/vacuum_form_molding.gif">
      <p class="caption">Me at a vacuum form molding workshop.</p>

      <p>
      Noura Howell, PhD <br>
      Associate Professor <br>
      University of Southern Denmark <br>
      she / her / hers
      </p>

      <p>
      The best way to contact me is by email, 
      [first name].[last name]@gmail.com
      </p>

      <p>
      <a href="https://scholar.google.com/citations?user=urDLnnEAAAAJ">Google Scholar</a>
      </p>

      <p>
      <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0002-7296-2714" href="https://orcid.org/0000-0002-7296-2714" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0002-7296-2714</a></div>
      </p>

      <p>
      Research talks on 
      <a href="https://www.youtube.com/@nourahowell3336">Youtube</a>
      </p>

      <p>
      <a href="https://dblp.org/pid/128/4295.html">dblp</a>
      </p>

      <p>
      <a href="https://www.instagram.com/nourahowell/">Instagram</a>
      </p>

    </div>
  </div>
</div>

{{ macros.base_footer() }}
