{% import 'macros.html' as macros %}
{{ macros.base_header() }}

<div class="container">
  <div class="row">
    <div class="col-12">

      <h1>CV</h1>

      <p>
      [firstname].[lastname]@gmail.com, &nbsp;
      <a href="/static/pdf/NouraHowell_CV.pdf">CV</a>, &nbsp;
      <a href="https://github.com/Noura">github</a>, &nbsp;
      <a href="https://scholar.google.com/citations?user=urDLnnEAAAAJ">Google Scholar</a>
      </p>

      <img src="/static/img/largest/vacuum_form_molding.gif">
      <p class="caption">At a vacuum form molding workshop.</p>

      <h4>Experience</h4>

      <p>Stub</p>
      
      <h4>Awards</h4>

      <p><b>Center for Long-Term Cybersecurity</b>, 2019, for the project Speculating Smart City Cybersecurity with the Heart Sounds Bench. <a href="https://cltc.berkeley.edu/2019grantees/">List of all grantees</a>.</p>

      <p><b>Center for Technology, Society, and Policy</b>, 2019, for the project <a href="https://ctsp.berkeley.edu/projects2019/#biosensing">Engaging Expert Stakeholders about the Future of Menstrual Biosensing</a> in collaboration with <a href="http://people.ischool.berkeley.edu/~richmond/">Richmond Wong</a>, <a href="https://www.sarahfox.info/">Sarah Fox</a>, and <a href="https://fspektor.myportfolio.com/">Franchesca Spektor</a>.</p>

      <p><b>CITRIS Tech for Social Good</b>, 2019, for the project Re-centering the Body in Technological Utopias, in collaboration with <a href="https://fspektor.myportfolio.com/">Franchesca Spektor</a>. <a href="https://berkeley.techsocialgood.org/tech-dev-funded/">List of all grantees</a>.</p>

      <p><a href="http://bcnm.berkeley.edu/resources/2851/undergraduate-research-fellowship"><b>Berkeley Center for New Media</b> Undergraduate Research Assistant Fellowship</a>, 2019. To work with <a href="https://www.behance.net/stephtang494f/">Stephanie Tang</a>.</p>

      <p><b>Jacobs Innovation Center</b> Ignite Grant, 2018 (<a href="http://jacobsinstitute.berkeley.edu/news/introducing-fall-2018-innovation-catalysts-grant-winners/">listing</a>).</p>

      <p><b>Arts Research Center</b>, 2018 (<a href="http://arts.berkeley.edu/arc-fellows/">listing</a>) in collaboration with <a href="http://art.berkeley.edu/people/greg-niemeyer/">Greg Niemeyer</a>.</p>

      <p><b>Center for Technology, Society, and Policy</b>, 2018, for the project <a href="https://ctsp.berkeley.edu/projects2018/#menstrualBiosensing">Menstrual Biosensing Survival Guide</a> in collaboration with <a href="http://people.ischool.berkeley.edu/~richmond/">Richmond Wong</a> and <a href="https://www.sarahfox.info/">Sarah Fox</a>.</p>

      <p><a href="http://bcnm.berkeley.edu/news-research/2528/undergraduate-research-dispatch-wenny-miao-on-urban-sensing"><b>Berkeley Center for New Media</b> Undergraduate Research Assistant Fellowship</a>, 2018. To work with Wenny Miao.</p>

      <p><b>Outstanding Graduate Student Instructor</b>, 2016-2017, University of California, Berkeley.</p>

      <p><b>Cota Robles Fellowship</b>, 2014, University of California, Berkeley. "Awarded to exceptional applications who also advance the Regents' goals for diversification of the academy."</p>


      <br>
      <h4>Talks & Guest Lectures</h4>

      <p><b>Emotional Biosensing: Possibilities, Problematics, & Critical Alternatives</b>, fall 2017, for the <a href="https://www.ischool.berkeley.edu/events/2017/phd-research-reception">I School PhD Research Reception</b>, <a href="https://www.youtube.com/watch?v=RbxLavF-a_Y">video</a>.</p>

      <p><b>A Case Study of Emotional Biosensing: Tensions of Data-Driven Reflection</b>, fall 2017, for the Society for the Social Studies of Science (4S) Annual Meeting, Boston, MA.</p>

      <p><b>Emotional Biosensing</b>, fall 2017, for the course <a href="http://courses.ischool.berkeley.edu/i290t-mrt/f17/">Mind-Reading and Telepathy for Beginners and Intermediates</a> taught by <a href="http://cosmopol.is/">Nick Merrill</a> and <a href="https://people.ischool.berkeley.edu/~chuang/">John Chuang</a>. <a href="/static/pdf/17_GuestLecture_MindReadingTelepathy.pdf">slides</a>.</p>

      <p><b>Information vs. Interaction: A Case Study of Affective Computing</b>, spring 2016, for the course <a href="http://courses.ischool.berkeley.edu/i290-dds/s16/">Deconstructing Data Science</a> taught by <a href="http://people.ischool.berkeley.edu/~dbamman/">David Bamman</a>. <a href="/static/pdf/16_GuestLecture_DeconstructingDataScience.pdf">slides</a>.</p>

      <p><b>Rethinking Data with Emotion & Materiality</b>, fall 2016, for the course <a href="http://courses.ischool.berkeley.edu/i290-shda/f16/">Sensors, Humans, Data, Apps</a> taught by <a href="http://people.ischool.berkeley.edu/~chuang/">John Chuang</a>. <a href="/static/pdf/16_GuestLecture_SensorsHumansDataApps.pdf">slides</a>.</p>

      <p><b>Rethinking Data with Emotion and Materiality</b>, fall 2016, for the course <a href="https://www.ischool.berkeley.edu/courses/info/262">Tangible User Interfaces</a> taught by <a href="http://people.ischool.berkeley.edu/~kimiko/">Kimiko Ryokai</a>. <a href="/static/pdf/16_GuestLecture_TangibleUserInterfaces.pdf">slides</a>.</p>

      <h4>Workshops</h4>

      <p>Quick intro to human centered design and engineering, fall 2017, for the course <a href="https://www.ischool.berkeley.edu/courses/info/239">Technology and Delegation</a> taught by <a href="https://www.ischool.berkeley.edu/people/deirdre-mulligan">Deirdre Mulligan</a>.</p>

      <p>Day long facilitation of design thinking workshop for tech industry executives in Sri Lanka, summer 2017, <a href="https://www.facebook.com/pg/letmeknow.lk/photos/?tab=album&album_id=1819121541438209">event description and photos</a>.

    </div>
  </div>
</div>

{{ macros.base_footer() }}
