{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.project_header(ctx.page, ctx, "teaching/") }}



<p>
A graduate class for information studies majors, this class surveys quantitative machine learning methods in conjunction with critical analysis of the assumptions and bias these algorithms can reinforce. My duties included Python tutoring and project advising.
</p>

<p>
<a href="http://courses.ischool.berkeley.edu/i290-dds/s16/">course website</a>, <a href="https://www.ischool.berkeley.edu/courses/info/290/dds">departmental listing</a>
</p>

<p>
Taught in my role as teaching assistant, with professor David Bamman at University of California, Berkeley.
</p>

<p>
The thumbnail image is a color-edited closeup of from the textbook for the class, Machine Learning 1st edition by Peter Flach.
</p>




{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
