
{% import 'macros.html' as macros %}

{{ macros.base_header() }}

{{ macros.project_header(ctx.page, ctx) }}
<p>As a software engineer at The Echo Nest, I worked on a variety of data-driven web applications, including a tool for creating generative radio station playlists and internal tools for verifying music data.</p>

<p>
    SiriusXM's <a href="http://blog.echonest.com/post/48040487056/mysxm">MySXM personalized radio stations</a> are created by SiriusXM's music programmers using this tool, made by The Echo Nest. I worked with one other web developer on the front end JavaScript application. Highlights included throttling AJAX requests to reliably load thousands of dynamically structured song objects, maintaining a responsive interface while loading, sorting, and filtering those objects, and automatically suggesting possible areas of concern to the music programmers to guide their design of these radio stations.
</p>

<p>
    Data accuracy is of utmost importance to The Echo Nest because data is its primary product, and the continually growing database regularly rolls out to enterprise customers. The internal tools I worked on enabled anyone to view and edit dynamically structured data objects and helped create tasks, workflow, and performance tracking for quality assurance interns.
</p>

<p>
After my time there, The Echo Nest was bought by Spotify (<a href="https://techcrunch.com/2014/10/19/the-sonic-mad-scientists/">TechCrunch</a>).
</p>

<img src="/static/img/280px_tiles/en.png">
<p class="caption">An old <a href="http://blog.echonest.com/post/12789403340/new-echo-nest-t-shirt-design-by-john-allison">Echo Nest t-shirt design</a> by John Allison.</p>



{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
