{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.project_header(ctx.page, ctx) }}

<img src="/static/img/largest/IMG_E1199_banner.JPG" class="center">

<p>Emotional biosensing is on the rise in daily life: Technologies use data and algorithms to claim to know how people feel and suggest what they should be doing about it. Prevalent approaches to emotional biosensing are too limited, focusing on the individual, optimization, and normative categorization.</p>

<p>My doctoral research helps explore critical alternatives for emotional biosensing design through design research and conceptual shifts.</p>

<p>In this paper I outline a few conceptual moves and apply them to emotional biosensing: (a) toward materiality, (b) from representation toward performativity, (c) inter-action to intra-action, (d) shifting biopolitics, and (e) shifting affect/desire. This paper contributes (1) synthesizing wide-ranging conceptual lenses, providing analysis connecting them to emotional biosensing design, (2) analyzing selected design exemplars to apply these lenses to design research, and (3) offering my own recommendations for designers and design researchers.</p>

<p>I call for humility in knowledge claims with emotional biosensing, prioritizing care and affirmation over self-improvement, and exploring alternative desires. We need to critically question and generatively re-imagine the role of data in configuring sensing, feeling, 'the good life', and everyday experience.</p>

{{ macros.publication(ctx.publications_by_name.cscw_emotional_biosensing) }}


{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
