{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.project_header(ctx.page, ctx, "teaching/") }}


<p>
Emotion Machine Learning (ML) analyzes facial imagery to classify emotion. It is increasingly used in many contexts, such as hiring decisions, tracking student attention, and lie detection - pulling data from cameras in the built environment. Some computing experts expound benefits of Emotion ML for societal well-being and smart cities, while other computer experts critique Emotion ML for being culturally reductive and threatening civil liberties via surveillance. Interdisciplinary perspectives
are needed to help shape futures of this emerging technology. This class consideres Emotion ML from technical, designerly, and ethical perspectives.
</p>

<p>
This Project Studio course explores Emotion ML through critical making - aiming to raise awareness, spark critical reflection and ethical discussion, and imagine alternative futures with Emotion ML.
</p>

<p>
In fall 2021, this digital media project studio at Georgia Tech collaborated with an architecture project studio at North Carolina State University taught by Assitant Professor <a href="https://design.ncsu.edu/people/ssprotz/">Shawn Protz</a>. The architecture project studio focused on creating inflatables made of lightweight plastic sheets, taped or heat sealed together, inflated with fans. Inflatables can produce large pop-up lightweight structures in unusual shapes. Students in the digital media project
studio designed creative interactions with Emotion ML within and around the inflatables.
</p>

<p>
Students across both project studios - in digital media at Georgia Tech and architecture at North Carolina State University - worked together to create a public art exhibition for the <a href="https://www.blackmountaincollege.org/reviewing-12-conference-schedule/">Black Mountain College Museum + Arts Center 2021 international conference</a>.
</p>


{{ macros.page_image("/static/img/1000px_wide/", "tunnel.jpg", ctx) }}

<p class="caption">
Students created a large inflatabel tunnel that passerby could enter. Once inside, a pedestal with a button and a ring light could take their picture, send it to a cloud API for Emotion ML analysis, and change the projected visuals depending on their emotion.
</p>

<p>
Taught in my role as assistant professor at Georgia Tech.
</p>

{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
