{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.project_header(ctx.page, ctx, "") }}

<p>Co-authoring with Vasiliki Tsaknaki, Pedro Sanches, Tom Jenkins, Laurens Boer, and Afroditi Bitzouni.</p>

<p>
A growing number of design researchers explore engagement with and through biodata. To help make sense of this growing space, we synthesize three emergent themes: (1) expanding notions of biodata and bodies, (2) attending to a greater diversity of human bodies and experiences with biodata, and (3) biodata collaborations between human and non-human bodies. We illustrate these themes with selected design examples. From this synthesis, we develop three interconnected fabulations reimagining alternative engagements with biodata: Weaving Alongside, Diffracting Selves, and Collective Affect. Our discussion unpacks conceptual work of the fabulations, offering invitations for design research to explore alternative ways of living and knowing together with biodata.
</p>


<img src="/static/img/1000px_wide/biodata_fabulation.jpg" alt="abstract shapes of black, blue, green, and pink, entangled organic forms">
<p class="caption">Image credit: Afroditi Bitzouni.</p>

<p>Theme 1: <b>Expanding Notions of Biodata and Bodies</b> questions and expands what counts as biodata to include more multisensory, embodied ways of knowing with biodata.</p>

<p> Theme 2: <b>Attending to a Greater Diversity of Human Bodies and Experiences</b> calls for rethinking modes of diversity and inclusion. To truly include a greater diversity of human bodies and perspectives, empathy may be insufficient because there can be some aspects of another's experience that can never be fully translated or understood. In the paper we draw in Bennett and Rosner's work on ``being-with'' for how designing with biodata can go beyond empathy to more
fully attend to a greater diversity of human bodies and experiences. </p>

<p> Theme 3: <b>Biodata Collaborations between Human and Non-Human Bodies</b> continues to expand biodata into the more-than-human, treating devices, data, and other things and organisms as collaborators with agency. We draw in Latimer's work on ``being alongside'' as a way of engaging more-than-human agencies. </p>

<p>
Exploring these themes, we offer three fabulations for alternative future ways of living and knowing with biodata, detailed in the paper.
</p>



<h2>Papers</h2>

{{ macros.bib(ctx.bibs_by_ID['tsaknakiFabulatingBiodataFutures2022a']) }}

{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
