{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.teaching_header(ctx.page, ctx) }}


<p>
This class surveys Arduino, Processing, electronics, and JavaScript for artists. My duties included hands-on instruction in programming and electronics. 
</p>

<p>
<a href="https://grayarea.org/education/immersive/">Gray Area listing</a>, <a href="https://github.com/GrayAreaorg/Fall-Immersive-2014">github</a>
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/WctaUkk8H-A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<img class="text-flow" style="width:560px;" src="/static/img/largest/gray_area_ripple.jpg">
<p class="caption">
Students Rakhi Parekh and Wesley Haines created a meditative visualization of pulse. Shown here are the two pulse sensors on the table.
</p>

<img class="text-flow" width="560px;" src="/static/img/1000px_wide/gray_area_3.jpg">
<p class="caption">
Student <a href="https://github.com/stevedudek">Steve Dudek</a>&rsquo;s work from the Creative Code Immersive.
</p>

<p>
Taught in my role as teaching assistant, with instructor Matt Ganucheau at Gray Area Foundation for the Arts.
</p> 

{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
