{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.project_header(ctx.page, ctx) }}

<!-- ending the <div class="row"><div class="col-12"> in project_header -->
    </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <img src="/static/img/largest/hsb1.jpg">
  </div>
  <div class="col-xs-12 col-sm-6">
    <img src="/static/img/largest/hsb2.jpg">
  </div>
  <div class="col-xs-12">
    <img src="/static/img/largest/hsb3.jpg">
    <p class="caption">
    The Heart Sounds Buckets on display at Worth Ryder Art Gallery in Berkeley, U.S., as part of the <a href="http://scienceatcal.berkeley.edu/visionlight-processing-perception/">Vision+Light: Processing Perception</a> show in 2019.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <p>
    Many sensing technologies produce reductive categories that flatten social and cultural context. These categories embed ideas of what is &lsquo;normal&rsquo; or what is worth recognizing. In seeking alternative roles and ways of knowing with sensing technologies, I was drawn to heart <i>sounds</i>. For many people, heart sounds do not suggest immediate insights or categories. They do not evoke the numerical beats-per-minute reading of a workout regime. Instead, they invite listening to one's own or another's body. Their sense of awkward intimacy and unmediated immediacy invites presence and reflective attunement to experience.
    </p>

    <p>
    The Heart Sounds Buckets explore an uncomfortable juxtaposition between the vibrancy of listening to our bodies versus techno-medicalization. Live unfiltered heart sounds are present and shared, emanating from the buckets both aurally and haptically. Yet, these sharply contrast the white, plastic, sterile, mass-produced feeling of the buckets and organizer containers mounted to the wall. As more and more aspects of our daily lives become medicalized, with sensing technologies to monitor and organize our bodies, behaviors, thoughts, and feelings, this project extrapolates this trend to an extreme degree. It explores the uncomfortable feeling of having one's heart in a sterile, cheap-looking piece of bucket technology.
    </p>

    <p>
    The Heart Sounds Buckets are one project where I choose to explore the creepiness of bodily sensing in a gallery setting. With a less creepy presentation, amplifying the live unfiltered sounds of people's hearts can be a unique and joyful embodied listening experience. My dissertation project the <a href="/heart_sounds_bench.html">Heart Sounds Bench</a> explores fostering an affirmative experience with heart sounds in public space. 
    </p>

    <audio controls>
      <source src="/static/audio/heartsounds5.mp3" type='audio/mp3'>
      <source src="/static/audio/heartsounds5.wav" type='audio/wav'>
      <p>
      It seems like your browser does not support mp3 or wav audio files with the HTML5 Audio element. Sorry about that! My other project the Heart Sounds Bench sounds pretty much the same and has some vimeo videos, so maybe try looking <a href="/projects/heart_sounds_bench.html">here</a>.
      </p>
    </audio>

    <p class="caption">
    How does it feel to listen to my heart sounds over the internet?
    </p>

<!-- project_footer will close the <div class="row"> and <div class="col..."> we opened above -->
{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
