{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.project_header(ctx.page, ctx) }}

<img src="/static/img/largest/red_bench.jpg">
<p class="caption">
Benches invite rest and taking in one's surroundings. Instead of efficiency or surveillance, how might biosensing technology be enrolled to support this simple yet foundational aspect of public space? Image blurred for privacy.
</p>

<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/314159216?color=ffffff" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
<p><a href="https://vimeo.com/314159216">Heart Sounds Bench Indoor Demo</a> from <a href="https://vimeo.com/user21558313">Noura Howell</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

<p>
`Smart city' narratives herald promises of IoT data-driven innovations leveraging biosensing technologies. We argue these prevalent narratives often overlook a potential benefit of city living: affirmation. We designed the Heart Sounds Bench, which amplifies the heart sounds of those sitting on it. We outline our design intent to invite rest, reflection, and recognition of others' lives in public space. We share results from a pilot study of 19 participants. Participants expressed feeling connected to a shared life energy including others and the environment, and described heart sounds as feeling intimate yet anonymous. Finally, we elaborate the concept of <i>life-affirmation</i> in terms of <i>recognition</i> of others' lives, feeling <i>connection</i>, and respecting difference with <i>opacity</i>, as a way of helping 'smart city' designs embrace a multiplicity of desires.
</p>

<p>
This project is supported by a Jacobs Innovation Center Catalyist Grant (<a href="http://jacobsinstitute.berkeley.edu/student-project/heart-sounds-bench/">"Heart Sounds Bench"</a>), a Center for Long Term Cybersecurity Grant (<a href="https://cltc.berkeley.edu/2019grantees/">"Speculating 'Smart City' Cybersecurity with the Heart Sounds Bench: D&eacute;tourning Data and Surveillance in Public Space"</a>), and a CITRIS/Banatao Institute Tech for Social Good Award (<a href="https://berkeley.techsocialgood.org/tech-dev-funded/">Re-centering the Body in Technological Utopias</a>). Early project stages were supported by an Arts Research Center Fellowship.
</p>

{{ macros.publication(ctx.publications_by_name.hsb1) }}

{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
