{% import 'macros.html' as macros %}


{{ macros.base_header("projects") }}

<div class="container">

  <div class="row">
    <div class="col-12">
      <p>
      How can sensors, data, and algorithmic systems invite more ethical, respectful ways of knowing ourselves and others? How these technologies maintain fairness and inclusivity across human differences, uncertainty, and the irreducible complexity of human experiences?
      </p>
      <p>My design research investigates emotion AI &mdash; algorithmic ways of knowing emotion that use biosensory about people&rsquo;s bodies and behaviors. Combining custom sensor technologies, machine learning, and design research, I challenge dominant techno-logics of data and explore alternatives. I work with code, circuits, wood, e-textiles, and sound.
      </p>
      <p>
      I am an assistant professor in Digital Media at Georgia Tech, seeking PhD students for fall 2022. 
      </p>
    </div>
  </div>
  
  <div id="project-tiles" class="row">
    {{ macros.tiles("Projects", "project", ctx.pages) }}
    <!-- {{ macros.tiles("Technology for Development", "ictd", ctx.pages) }} -->
  </div>
</div>

{{ macros.base_footer() }}
