{% import 'macros.html' as macros %}


{{ macros.base_header("projects") }}


<div class="container">

  <div class="row">
    <div class="col-12">
      <p>
      My research leverages human embodiment, emotion, and imagination as powerful ways of knowing for cultivating more inclusive, sustainable ways of living that are also more enjoyable and meaningful.
      </p>
    </div>
  </div>
  
  <div class="tiles-group">
    {{ macros.tiles("Projects", "projects/", "project", ctx) }}
  </div>
</div>

{{ macros.base_footer() }}
