{% import 'macros.html' as macros %}

{{ macros.base_header() }}

<div class="container tiles">
  <div class="row title">
    <h1><span class="solid-bg">Noura Howell</span></h1>
  </div>
  <div class="row">
    <p class="solid-bg">
    As a tangible interaction designer I explore relationships with emotional biosensory data. How might interactions with data influence our sense of self and our relationships with others? What might it be like to experience data without quantification? In addition to self-knowledge, self-improvement, or self-expression, what other practices can be explored with biosensory data, such as cherishing, celebrating, coping, or just <i>being</i>? I'm fortunate to study as a PhD candidate at the <a href="https://www.ischool.berkeley.edu/people/noura-howell">Berkeley School of Information</a> advised by <a href="http://people.ischool.berkeley.edu/~kimiko/">Kimiko Ryokai</a> and as a member of the <a href="http://biosense.berkeley.edu/">BioSENSE</a> lab.
    </p>
  </div>
  {{ macros.tiles(ctx) }}
</div>

{{ macros.base_footer() }}
