<div class="iframe-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/nKZGNCdAj74" frameborder="0" allowfullscreen></iframe>
</div>

<p>We made a wearable companion designed to calm and comfort kids. When Buddy senses that the child is getting upset, it curls up and makes unhappy noises. This helps the child become more self-aware of their own mood, and redirects the child's attention toward comforting Buddy. By petting Buddy along his back, the child can calm themself down and make Buddy feel better too. Then he uncurls and makes happy noises.</p>

<p>This project began in <a href="http://www.paulos.net/">Prof. Eric Paulos'</a> class <a href="http://make.berkeley.edu/">Critical Making</a>.</p>

<p><a href="http://www.hackster.io/4927/hugwear">Hackster project page</a></p>

<p><a href="https://github.com/cle1994/provocation3">github</a></p>

