<!DOCTYPE html>
<html lang="en">
<head>
<title>Noura Howell</title>
<link href="/static/css/app.css" rel="stylesheet">
</head>
<body>

<div id="sidebar">
    <div id="name-container">
        <div id="name">
            Noura<br/>
            Howell
        </div>
    </div>
    <div id="desc-container">
        <p id="desc">
            <span>
                practical and elegant
            </span>
            <span>
                design and implementation
            </span>
            <span>
                for you and me
            </span>
        </p>
        <p id="contact">
            gmail: noura.howell
        </p>
    </div>
</div>
<div id="main">
    <div id="tabs">
        <div class="tab" data-i="0">
            About
        </div>
        <div class="tab" data-i="1">
            Skills
        </div>
        <div class="tab" data-i="2">
            Project 1
        </div>
        <div class="tab" data-i="3">
            Project 2
        </div>
    </div>
    <div class="clear"></div>
    <div id="content">
        <div class="tab-content">
            <p class="intro-text">
                Making websites, making music, making tools to make music, practicing clarinet, <br/>
                Design for the user.  Interviews, iterate.  passion for design process. <br/>
                Contact me for design consulting, data crunching, web dev...
            </p>
        </div>
        <div class="tab-content">
            <p class="intro-text">
                I am not my skills.  I learn whatever is needed, and I learn it fast.  But if you really want to know what's particularly fresh in my fingertips these days...
            </p>
            <div class="columns-container">
                <div class="column">
                    <div class="list-title">
                        Design
                    </div>
                    <ul class="list">
                        <li>
                            Process, process, process.
                        </li>
                        <li>
                            User interviews
                        </li>
                        <li>
                            Needs and values
                        </li>
                        <li>
                            Personas
                        </li>
                        <li>
                            Usability testing
                        </li>
                        <li>
                            Software interface detail desig and iteration
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <div class="list-title">
                        Javascript
                    </div>
                    <ul class="list">
                        <li>
                            backbone
                        </li>
                        <li>
                            underscore
                        </li>
                        <li>
                            bootstrap
                        </li>
                        <li>
                            rickshaw, d3
                        </li>
                        <li>
                            flot
                        </li>
                        <li>
                            jQuery
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <div class="list-title">
                        Python
                    </div>
                    <ul class="list">
                        <li>
                            flask
                        </li>
                        <li>
                            mongo DB
                        </li>
                        <li>
                            django
                        </li>
                        <li>
                            SQL
                        </li>
                        <li>
                            jinja
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <div class="list-title">
                        Maker
                    </div>
                    <ul class="list">
                        <li>
                            arduino
                        </li>
                        <li>
                            basic woodworking
                        </li>
                        <li>
                            machete with bamboo
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <p class="intro-text">
                Stubbbbbbbbbbbbbbbbbbbb bb;lkas a;slkkdkd saka
            </p>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/underscore-min.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
</body>
