{% import 'macros.html' as macros %}

<html lang="en">
  <head>
    <title>Noura Howell</title>

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/app.css">

  </head>
  <body>

    <div class="container tiles">
      <div class="row title">
          <h1>Noura Howell</h1>
      </div>
      <div class="row">
        <p>
          I am a human-computer interaction researcher and PhD student at the UC Berkeley School of Information. My work combines biosensing and textile technologies to explore materiality, representation, and experiences with data in daily life.
        </p>
      </div>
      {{ macros.tiles(pages) }}
    </div>

    {{ macros.details(pages) }}

  </body>
</html>
