
<div class="images project-page">
    <div class="image cat"></div>
</div>

<p>The Intel Labs project ConnectAnyThing (<a href="https://github.com/IntelOpenDesign/ConnectAnyThing">release repo</a>, <a href="https://github.com/Noura/cat">development repo</a>) makes it possible to use Intel's Galileo microcontroller without writing a line of code. It enables creative play and rapid prototyping. I worked on the client and server side code.</p>

<p>MakerNode (<a href="https://github.com/IntelOpenDesign/MakerNode">repo</a>), a work in progress, will provide a simple workflow for node.js projects on Galileo.</p>

