
{% import 'macros.html' as macros %}
{{ macros.base_header() }}
 {{ macros.project_header(ctx.page, ctx, "") }}


<img src="/static/img/largest/ConnectAnyThing16x9-570x320.jpg">
<p class="caption">
  A simple interface enables creating logic commands between input pins and output pins on the microcontroller. For example, if analog sensor input pin A0 reaches a threshold value, turn on whatever is connected to digital output pin 8.
</p>

<p>The Intel Labs project ConnectAnyThing (<a href="https://github.com/IntelOpenDesign/ConnectAnyThing">release repo</a>, <a href="https://github.com/Noura/cat">development repo</a>) makes it possible to use Intel's Galileo microcontroller without writing a line of code. It enables creative play and rapid prototyping. I worked on the UI design as well as client and server side code, for real-time responsiveness and consistent state across the microcontroller, multiple clients interacting simultaneously, and the server.</p>

<p>MakerNode (<a href="https://github.com/IntelOpenDesign/MakerNode">repo</a>), a work in progress, is intended to provide a simple workflow for node.js projects on Galileo.</p>

<a href="http://awards.ixda.org/entry/2016/connect-anything/">
  <img src="/static/img/2016IxDAwards_Shortlist_Pin.png" alt="Shortlisted for the 2016 Interaction Design Awards">
</a>


{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
