{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.project_header(ctx.page, ctx) }}



<img src="/static/img/1000px_wide/choc.close.01.jpg">
<p class="caption">
A box of chocolates with laughter data for a family of four over twelve days represented as bar graphs.
</p>

<img src="/static/img/1000px_wide/bottle.jpg">
<p class="caption">
A delicate bottle preserving laughter. Opening the lid releases the laughter inside.
</p>

<p>
Laughter is a fundamental part of life, emerging in many contexts, yet it is extremely ephemeral. We may recognize the sound of someone laughing, but once the moment is over, the laughter is gone. We present a speculative future where we might measure and represent aspects of the laughter of our loved ones and ourselves. What might it mean to physically represent laughter? How might we interact with or relate to these representations? Might we treat our grandmother's laughter or our baby's giggle like family heirlooms? Might we give these representations as gifts to loved ones? We present preliminary design explorations of physically representing laughter, and discuss interaction design opportunities for celebration and reflection.
</p>

{{ macros.publication(ctx.publications_by_name.chi18laughter) }}

{{ macros.publication(ctx.publications_by_name.dis17laughter) }}

{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
