{% macro news_item(ctx, N) %}
    {% for item in ctx.news %}
       <a href="{{item.link}}">
         <p>
           <span class="news-item"></span>
           {{item.description}} ({{item.date}})&nbsp;&gt;&gt;&gt;
         </p>
       </a>
    {% endfor %}
{% endmacro %}

{% macro base_header() %}
  <!doctype html>
  <html lang="en">
    <head>
      <title>Noura Howell</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css/app.css">

      <link rel="stylesheet" href="https://use.typekit.net/jka1nec.css">

      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>

    <nav class="navbar navbar-default navbar-expand-sm">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Noura Howell</a>
        </div>
        <div id="navbar" class="">
          <ul class="navbar-nav navbar-right mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pubs">Publications</a>
            </li>
            <li>
              <a class="nav-link" href="/cv">CV</a>
            </li>
            <li>
              <a class="nav-link" href="/teaching">Teaching</a>
            </li>
            <li>
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- all the page contents go here, then the ending body and html tags come in the footer macro -->

{% endmacro %}

{% macro base_footer() %}
    </body>
  </html>
{% endmacro %}


{% macro tiles(ctx) %}
<div class="row">
  {% for page in ctx.pages %}
    <div class="col-12 col-xs-12 col-sm-6 col-md-4">
      <a href="/projects/{{page.path}}.html" id="{{page.path}}" name="{{page.path}}">
        <img class="tile" src="/static/img/280px_tiles/{{ page.thumbnail }}">
      </a>
      <br>
      <a href="/projects/{{page.path}}.html">
        <span class="tile-name">
          {{ page.name }}
        </span>
      </a>
    </div>
  {% endfor %}
</div>
{% endmacro %}

{% macro project_header(page, ctx) %}

  <div class="container project-page" data-project="{{page.path}}">
    <div class="row">
      <div class="col-12">
        <a href="/#{{ page.path }}">
          &lt;&lt;&lt; Back
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h1>{{page.name}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">

{% endmacro %}

{% macro project_footer(page, ctx) %}

      </div>
    </div>
    <div class="row">
      <div class="col-12 date">
        <p>{{page.date}}</p>
      </div>
    </div>
  </div>

{% endmacro %}

{% macro publication(pub) %}
  <p class="publication">
      <span class="publication"></span>
      {{ pub.cite|safe }}
      {% if pub.pdf %}<a href={{pub.pdf}}>pdf</a>{% endif %}
      {% if pub.url %}<a href={{pub.url}}>url</a>{% endif %}
  </p>
{% endmacro %}

{% macro list_all_publications(pubs_list) %}
  {% for pub in pubs_list %}
    {{ publication(pub) }}
  {% endfor %}
{% endmacro %}
