{% macro tile(page, parity = 0) %}
<a href="#{{page.path}}">
  <div class="tile col-xs-4">
      <div class="image {{ page.thumbnail }}"></div>
      <div class="name">
        {% if parity == 0 %}
          <div class="triangle-br"></div>
        {% else %}
          <div class="triangle-tr"></div>
        {% endif %}
        <div class="name-inner">
            {% if name %}
            {{ name }}
            {% else %}
            {{ page.name }}
            {% endif %}
        </div>
        {% if parity == 0 %}
          <div class="triangle-tl"></div>
        {% else %}
          <div class="triangle-bl"></div>
        {% endif %}
      </div>
  </div>
</a>
{% endmacro %}

{% macro tiles(pages) %}
  {% for row in pages|batch(3) %}
    {% set row_index = (loop.index-1) * 3 %}
    <div class="row big-tiles">
      {% for page in row %}
        {{ tile(page, (row_index + loop.index - 1) % 2) }} 
      {% endfor %}
    </div>
  {% endfor %}
{% endmacro %}

{% macro detail(page) %}
<div class="container project-page hide" data-project="{{page.path}}">
  <a href="#">
    <div class="close-project-page">
    </div>
  </a>

  <div class="row">
    <div class="col-xs-12 topbar">
      <h1>{{page.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 content">

      {% include page.template %}

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 date">
      <p>{{page.date}}</p>
    </div>
  </div>
</div>
{% endmacro %}

{% macro details(pages) %}
  {% for page in pages %}
    {{ detail(page) }}
  {% endfor %}
{% endmacro %}
