{% macro tile(page, class='', name='') %}
<div class="tile {{ class }} col-xs-4" data-project="{{page.path}}">
    <div class="image {{ page.thumbnail }}"></div>
    <div class="name">
        {% if name %}
        {{ name }}
        {% else %}
        {{ page.name }}
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro tiles(pages) %}
    {% for page in pages %}
        {{ tile(page) }}
    {% endfor %}
{% endmacro %}

{% macro detail(page) %}
    <div class="detail" data-project="{{page.path}}">
      {{ page.path }}
    </div>
{% endmacro %}

{% macro details(pages) %}
    {% for page in pages %}
        {{ detail(page) }}
    {% endfor %}
{% endmacro %}
