{% import 'macros.html' as macros %}
{{ macros.base_header() }}
 {{ macros.project_header(ctx.page, ctx, "") }}

</div> <!-- closing the <div class="col-12"> provided by project_header -->

<div class="col-md-6 col-sm-12">
  <img src="/static/img/1000px_wide/vivewell1.jpg"
        alt="A pair of light skinned hands holds open a magazine. The two pages show a black and white illustration of a woman lying down doing crunches. The title of the magazine page is Power. A UI interface is shown with a percentage but it is too small to make out details.">
</div>

<div class="col-md-6 col-sm-12">
  <img src="/static/img/1000px_wide/vivewell2.jpg"
        alt="The same pair of hands holds open a different page in the magazine. This page shows a black and white illustration of a toilet. The back seat of the toilet has data visualizations. Decorative leaves sprout around the toilet. The title of the page is Privvy. Some text and UI elements on the magazine page are too small to read.">
</div>

<div class="col-md-6 col-sm-12">
  <img src="/static/img/1000px_wide/vivewell3.jpg"
        alt="The same pair of hands holds open a different page in the magazine. The pages are titled Manager Suite and Privvy Power Ranking. An office layout is shown and there are different stats shown for different employees.">
</div>

<div class="col-md-6 col-sm-12">
  <img src="/static/img/1000px_wide/vivewell4.jpg"
        alt="The pair of hands holds open a page of the magazine titled Vivid. A black and white illustration shows a small, young-ish, light skinned hand holding a menstrual cup. The cup has dark red fluid in it and grooves and dots evoking data. ARound this is a rule, colored pencils, a school notebook with binder holes punched in it, and decorative background leaves sprouting around.">
</div>


<div class="col-12"> <!-- opening another one to continue with the idea of the project_header template -->

  <p class="caption">
  Vivewell's winter catalog showcases cutting-edge period tracking technologies that embrace the corporate motto, <i>Live smart, live well</i>.
  </p>

  <p>
  We created a set of speculative designs exploring the future of menstrual biosensing technologies at home and in the workplace. These speculative designs prompt reflection on current issues with menstrual tracking, such as stereotypical gender roles and expansive data surveillance. We present these speculative designs as a product catalog for fictional company Vivewell, in order to situate the designs in a broader landscape of corporate data narratives.
  </p>

  <p>Our zine is available <a href="/static/pdf/19_Zine_Vivewell.pdf">here</a>.</p>

  <h2>Paper</h2>
  <p>
  We also contribute a pictorial documenting our process. We explored how emergent menstrual biosensing technologies compound existing concerns for the everyday ethics of extracting and analyzing intimate data. Specifically, we review the data practices of a set of existing menstrual applications and use that analysis to inform the design of speculative near future technologies. We present these technologies here in the form of a product catalog for a fictional company called Vivewell. Through this work, we contribute both a set of speculative design proposals and a case study of a design project that begins with the analysis of existing data policies.
  </p>

  {{ macros.bib(ctx.bibs_by_ID['fox_vivewell:_2019']) }}

  <p>
  This project is a collaboration with <a href="https://www.sarahfox.info/">Sarah Fox</a>, <a href="https://people.ischool.berkeley.edu/~richmond/">Richmond Wong</a>, and <a href="https://fspektor.myportfolio.com/">Franky Spektor</a>. Sarah and Richmond led the app data policy reviews. Franky led the graphic design and illustration of the zine. We all contributed to the speculative designs.
  </p>

  {{ macros.project_footer(ctx.page, ctx) }}
  {{ macros.base_footer() }}
