{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.project_header(ctx.page, ctx, "") }}

<p> PREMIER brings interdisciplinary STEAM education to Georgia Tech students and the broader Atlanta community. PREMIER offers hands-on participatory music, arts, and performance opportunities that incorporate audio technology and electronics in service of creative practice. </p>

<p> Six artists are doing five residencies at Georgia Tech in spring 2023. Each residency culminates in a workshop and performance exploring audio technology and electronics for creative musical and performance practice. All events are free and open to the public. The full event series and artist bios are available on the <a href="https://sites.gatech.edu/premier-music-residency/">PREMIER project site</a>. </p>

<p> PREMIER is funded by a GVU/IPaT Community Engagement Grant, PI'ed by Noura Howell and co-PI'ed by <a href="https://alexcohenmusic.com/">Alex Cohen</a>. </p>




{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
