{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.project_header(ctx.page, ctx, "teaching/") }}

<p>
I teach principles of interaction design at the undergraduate and graduate level.
This course surveys designing for and studying how people interact with technology.
We emphasize prototyping interactive UI for screen-based interactions <i>and</i> critically considering the sociotechnical, ethical, and political impacts of design.
Students practice and hone their ability to give and receive constructive, critical feedback on their work, and do multiple iterations of each design.
</p>

<p>
For the final project, students imagine an alternative future world and prototype an interactive app that fits within that world.
Students reflect on and discuss alternative possibilities with design and technological innovation, considering the potential sociotechnical, ethical, and political impacts of these alternatives.
</p>

<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <img src="/static/img/teaching/24S_3710_eterna/clickthru_vid_faster.gif" alt="App launch animation of abstract blue and white circles, app launch page, create account screens, adding a new family member, VR call with deceased grandma.">
</div>

<p class="caption">
For example, one student group imagined Eterna, an app that enables people to interact with memorialized replicas of deceased loved ones. This 2024 spring team is Taylor Campbell, <a href="https://uxfol.io/b266c0f9">Adrianna Gomez</a>, <a href="https://rayannlian.wixsite.com/rayannliang">Rayann Liang</a>, <a href="https://sudhyakumar3.github.io/PersonalPortfolioWebsite/#intro">Subhasini Udhyakumar</a>, and <a href="http://www.yiwenzhao.me/">Yiwen Zhao</a>. 
</p>

<p>
Taught in my role as assistant professor at Georgia Tech.
</p>


{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
