{% import 'macros.html' as macros %}
{{ macros.base_header("publications") }}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Publications</h1>

      <p>
      <a href="https://scholar.google.com/citations?user=urDLnnEAAAAJ">Google Scholar</a>
      </p>

      <p>
      <div id="ORCID" itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0002-7296-2714" href="https://orcid.org/0000-0002-7296-2714" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0002-7296-2714</a></div>
      </p>

      <p>
      <a href="https://dblp.org/pid/128/4295.html">dblp</a>
      </p>

      {{ macros.bibi(ctx.bibs_list) }}

    </div>
  </div>

  {{ macros.base_footer() }}
