<p><a href="/static/pdf/16_DIS_Hint.pdf">
Noura Howell, Laura Devendorf, Rundong (Kevin) Tian, Tom&aacute;s Vega, Nan-Wei Gong, Ivan Poupyrev, Eric Paulos, Kimiko Ryokai. 2016. Biosignals as social cues: Ambiguity and emotional interpretation in social displays of skin conductance. <i>Designing Interactive Systems</i>.
</a></p>

<p><a href="/static/pdf/16_DIS_DC.pdf">
Noura Howell. 2016. Representation and interpretation of biosensing. <i>DIS'16 Companion</i>.
</a></p>

<p><a href="http://artfordorks.com/pubs/16_CHI_Ebb.pdf">
Laura Devendorf, Joanne Lo, Noura Howell, Jung Lin Lee, Nan-Wei Gong, M. Emre Karagozler, Shiho Fukuhara, Ivan Poupyrev, Eric Paulos, Kimiko Ryoaki. (2016). "I don't want to wear a screen": Probing perceptions of and possibilities for dynamic displays on clothing. <i>SIGCHI Conference on Human Factors in Computing Systems (CHI'16 - Best Paper Award)</i>,
</a></p>

<p>
Sarah Spence Adams, Noura Howell, Nathaniel Karst, Denise Sakai Troxell, Junjie Zhu. (2013). On the L(2,1)-labelings of amalgamations of graphs. <i>Discrete Applied Mathematics, 161</i>(7-8): 881-8.
</p>

<p>
Jian Shi, Ratna R. Sharma-Shivappa, Mari Chinn, Noura Howell. (2009). Effect of microbial pretreatment on enzymatic hydrolysis and fermentation of cotton stalks for ethanol production. <i>Biomass and Bioenergy, 33</i>(1): 88-96.
</p>

<br>

<p>
Contact: [firstname].[lastname]@gmail.com
</p>
<p>
    <a href="/static/pdf/NouraHowell_Resume.pdf">resume</a>
</p>
<p>
    <a href="https://github.com/Noura">github</a>
</p>


