<h2>Publications</h2>

<p>
<b>Noura Howell</b>, Laura Devendorf, Rundong (Kevin) Tian, Tom&aacute;s Vega, Nan-Wei Gong, Ivan Poupyrev, Eric Paulos, Kimiko Ryokai. 2016. Biosignals as social cues: Ambiguity and emotional interpretation in social displays of skin conductance. <i>Designing Interactive Systems</i>.
<a href="/static/pdf/16_DIS_Hint.pdf">pdf</a>.
</p>

<p>
<b>Noura Howell</b>. 2016. Representation and interpretation of biosensing. <i>DIS'16 Companion</i>.
<a href="/static/pdf/16_DIS_DC.pdf">pdf</a>.
</p>

<p>
Laura Devendorf, Joanne Lo, <b>Noura Howell</b>, Jung Lin Lee, Nan-Wei Gong, M. Emre Karagozler, Shiho Fukuhara, Ivan Poupyrev, Eric Paulos, Kimiko Ryoaki. (2016). "I don't want to wear a screen": Probing perceptions of and possibilities for dynamic displays on clothing. <i>SIGCHI Conference on Human Factors in Computing Systems (CHI'16 - Best Paper Award)</i>,
<a href="http://artfordorks.com/pubs/16_CHI_Ebb.pdf">pdf</a>.
</p>

<p>
Sarah Spence Adams, <b>Noura Howell</b>, Nathaniel Karst, Denise Sakai Troxell, Junjie Zhu. (2013). On the L(2,1)-labelings of amalgamations of graphs. <i>Discrete Applied Mathematics, 161</i>(7-8): 881-8.
</p>

<p>
Jian Shi, Ratna R. Sharma-Shivappa, Mari Chinn, <b>Noura Howell</b>. (2009). Effect of microbial pretreatment on enzymatic hydrolysis and fermentation of cotton stalks for ethanol production. <i>Biomass and Bioenergy, 33</i>(1): 88-96.
</p>

<br>

<h2>Guest Lectures</h2>

<p><i>Information vs. Interaction: A Case Study of Affective Computing</i>, spring 2016, for the course <a href="http://courses.ischool.berkeley.edu/i290-dds/s16/">Deconstructing Data Science</a> taught by <a href="http://people.ischool.berkeley.edu/~dbamman/">David Bamman</a>. <a href="/static/pdf/16_GuestLecture_DeconstructingDataScience.pdf">Slides</a>.</p>

<br>
<h2>Contact</h2>

<p>[firstname].[lastname]@gmail.com</p>

<p>
    <a href="/static/pdf/NouraHowell_Resume.pdf">resume</a>
</p>
<p>
    <a href="https://github.com/Noura">github</a>
</p>


