{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.project_header(ctx.page, ctx) }}


<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/363031801?color=ffffff" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
<p><a href="https://vimeo.com/363031801">Ripple</a> from <a href="https://vimeo.com/user21558313">Noura Howell</a> on <a href="https://vimeo.com">Vimeo</a>.</p>


<p>How do emotional biosensory data displays become embroiled in questions of how or what we should feel or be?</p>

<p>
This work explores the role of ambiguity in emotional biosensing displays. A subtle, ambiguous color-change in the garment's pattern responds to the wearer's skin conductance, indicating a potential moment of emotional excitement. Pairs of friends, housemates, or spouses wore such color-changing garments over the course of a conversation or in daily life. They formed social emotional interpretations about the display in a variety of contexts, relating the display to a variety of emotions such as joy or embarrassment.
</p>

{{ macros.publication(ctx.publications_by_name.ripple) }}

{{ macros.publication(ctx.publications_by_name.hint) }}

{{ macros.publication(ctx.publications_by_name.disDC) }}

{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
