

{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.project_header(ctx.page, ctx) }}







<img src="/static/img/1000px_wide/on_patio_square.JPG">
<p class="caption">
The sculpture was initially marked with comments from the GoFundMe campaign.
</p>
<img src="/static/img/1000px_wide/last_day_side_wide.JPG">
<p class="caption">
Over the course of a few days, passerby added their own commentary.
</p>

<p>
This sculpture is inspired by the Arabic word "salaam." Salaam means "peace" and is also used as a greeting to wish peace upon others. This project was motivated by an upsurge in mosque arsons in early 2017, with a focus on one story in particular. The <a href="https://www.facebook.com/Victoria-Islamic-Center-100232630071179/">Victoria Islamic Center</a> in Texas was burned down in January. To raise money to rebuild, a <a href="https://www.gofundme.com/victoria-islamic-center-rebuilding">GoFundMe campaign</a> was created, and the campaign was extremely successful, doubling its initial goal. Comments posted to the website of the GoFundMe campaign are shown on the sculpture. It is tragic that this arson occurred, but the success of the GoFundMe campaign also points to community resilience and support.
</p>

<p>
This project was motivated by personal and family experiences with Islamophobia and a desire to spread peace and friendship in response.
</p>

<h2>Showings</h2>
<p>
  The sculpture was shown at the <a href="http://aaads.berkeley.edu/2017/02/8th-annual-islamophobia-conference/">8th Annual Islamophobia Conference</a> and in public locations on Berkeley's campus in April 2017.
</p>

<p>
It was also shown at <a href="http://oakland.figmentproject.org/">Oakland Figment 2018</a>.
</p>

<p>
Passerby were invited to add their own commentary or drawing to the sculpture using markers or spray chalk, and perhaps pause to reflect on issues around diversity, acceptance, acts of violence, and the maintenance of peace. Over a few days, passerby's additions made the sculpture come to life.
</p>


<h2>Examples of what people contributed</h2>
<img src="/static/img/salaam/closeups_grid.png">
<p class="caption">
Some of the comments added by passerby.
</p>
<img src="/static/img/1000px_wide/progress_pic_2.JPG">
<p class="caption">
Progress picture from the studio.
</p>

<h2>Collaborators</h2>
<p>
This project was done in collaboration with Stan Clark of <a href="https://astrobotanicals.com/">Astro Botanicals</a> and <a href="https://www.linkedin.com/in/sahildmohan">Sahil Mohan</a>.
</p>

{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
