<img src="/static/img/salaam/on_patio.JPG">
<img src="/static/img/salaam/last_day_side.JPG">

<p>
This sculpture is inspired by the Arabic word "salaam." Salaam means "peace" and is also used as a greeting to wish peace upon others. This project was motivated by recent events. A mosque in Victoria, Texas, was burned down in January. To raise money to rebuild, a GoFundMe campaign was created, and the campaign was extremely successful, doubling its initial goal. Comments posted to the website of the GoFundMe campaign will be shown on the sculpture. It is tragic that this arson occurred, but the success of the GoFundMe campaign also points to community resilience and support.
</p>

<p>
Passerby were invited to add their own writing or drawing to the sculpture using markers or spray chalk. The sculpture invites passerby to pause and reflect on issues around diversity, acceptance, acts of violence, and the maintenance of peace. Over a few days, passerby's additions made the sculpture come to life.
</p>

<p>
This project was done in collaboration with Stan Clark of <a href="https://astrobotanicals.com/">Astro Botanicals</a> and <a href="https://www.linkedin.com/in/sahildmohan">Sahil Mohan</a>, and was motivated by personal and family experiences with Islamophobia and a desire to spread peace and friendship in response.
</p>

<img src="/static/img/salaam/progress_pic_2.jpg">
<img src="/static/img/salaam/closeups_grid.png">
