
<img src="/static/img/largest/yak_dung.jpg">
<img src="/static/img/largest/solsource.jpg">

<p>Tibetan women spend hours each day collecting yak dung fuel to burn  inside their winter homes or summer tents for heating and cooking. This delivers bacteria via their hands into their food, creates dangerously smoky homes, and incurs difficult manual labor.</p>

<p>With <a href="http://www.oneearthdesigns.com/">One Earth Designs</a>, I helped develop their parabolic solar cooker prototype through field testing, immersive user research, materials research, and simulation.</p>

