
{% import 'macros.html' as macros %}
{{ macros.base_header() }}
 {{ macros.project_header(ctx.page, ctx, "") }}

<p>
As a hobby, I record sound samples and manipulate them in MaxMSP. This occasionally spills over into teaching interaction design. If students want to make sound interaction part of their project, I can help guide them through the basics of MaxMSP and how to get beyond just triggering premade samples in Arduino.
</p>

<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/641140629&color=%23000000&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

<p class="caption">
Exploring the textures of <a href="https://www.youtube.com/watch?v=rtfbUD2RKSE">"I Cry (Night After Night)" by Egyptian Lover</a> using granular synthesis. It gradually starts to sound more like the original track. In the last 30 seconds or so, a snippet of the original guitar is looped. For me, grandular synthesis is a way to defamiliarize sounds, stripping them of their original pitch and rhythm to explore sonic textures.
</p>

<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/810721435&color=%23000000&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

<p class="caption">
Blending textures of familiar sounds from my everyday life.
</p>


{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
