{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block body %}

<div class="container project-page">
  <div class="row">
    <div class="col-xs-12 topbar">
      <h1>{{current_page.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 content">

      {% block content %}

      {% endblock content %}

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 date">
      <p>{{current_page.date}}</p>
    </div>
  </div>
</div>

{% endblock body %}
