{% import 'macros.html' as macros %}
{{ macros.base_header("teaching") }}


<div class="container">
  <div class="row">
    <div class="col-12">

      <h1>Teaching</h1>

      <p>
      I teach all levels of user research, human centered design, tangible design, embodied design, and interaction design; physical computing with microcontrollers and circuits; and introductory computer science. With a project-centered approach, I challenge students to consider the social, aesthetic, technical, and political implications of their work. The image tiles below are drawn from student projects, and credited in the page describing each class.
      </p>


      <div class="tiles-group row">
        {{ macros.tiles("Courses", "teaching/", "class", ctx.pages) }}
      </div>




    </div>
  </div>
</div>
{{ macros.base_footer() }}
