{% import 'macros.html' as macros %}
{{ macros.base_header() }}


<div class="container">
  <div class="row">
    <div class="col-12">

      <h1>Teaching</h1>

      <p>
      <b>Creative Programming & Electronics</b>, teaching assistant, spring 2018, with professor J.D. Zamfirescu. This class teaches introductory programming with p5js and Arduino. My duties included providing critique and mentorship on student projects, hands-on Arduino instruction, and preparing some course materials. <a href="https://github.com/zamfi/ucb-jacobs-creative-programming-electronics-spring-2018">course website</a>, <a href="http://guide.berkeley.edu/search/?P=des+inv+23">departmental listing</a>.
      </p>

      <p>
      <b>Tangible User Interfaces</b>, teaching assistant, fall 2016 &amp; fall 2017, with professor Kimiko Ryokai. This class teaches theory and practice of tangible interaction design. My duties included providing critique and mentorship on student projects and hands-on Arduino, electronics, and soldering instruction. <a href="https://bcourses.berkeley.edu/courses/1464145/assignments/syllabus">course website</a>, <a href="https://www.ischool.berkeley.edu/courses/info/262">departmental listing</a>.
      </p>

      <p>
      <b>Deconstructing Data Science</b>, spring 2016, with professor David Bamman. This class surveys quantitative machine learning methods in conjunction with critical analysis of the assumptions and bias these algorithms can reinforce. My duties included Python tutoring and project advising. <a href="http://courses.ischool.berkeley.edu/i290-dds/s16/">course website</a>, <a href="https://www.ischool.berkeley.edu/courses/info/290/dds">departmental listing</a>.
      </p>

      <p>
      <b>Gray Area Foundation's Creative Code Immersive</b>, fall 2014, with instructor Matt Ganucheau. This class surveys Arduino, Processing, electronics, and JavaScript for artists. My duties included hands-on instruction in programming and electronics. <a href="https://grayarea.org/education/immersive/">Gray Area listing</a>, <a href="https://github.com/GrayAreaorg/Fall-Immersive-2014">github</a>.
      </p>

    </div>
  </div>
</div>
{{ macros.base_footer() }}
