<div class="images project-page">
  <div class="image threads"></div>
</div>

<p>We explored the role textile displays play in relation to personal style: what does it mean to wear a display and why would one be motivated to do so? We developed a textile display technology and engaged fashion designers as well as non-designers in conversations where we imagined how the display technology would integrate with their design practice or personal style. In doing so, we surfaced associations that strongly shape perception of textile display. Participants expressed value for ambiguous and nuanced uses of the technology and imagined them provoking mysterious serendipitous encounters, ironic commentaries on tech culture, and peaceful experiences of personal data.</p>

<p>with <a href="http://artfordorks.com/">Laura Devendorf</a>, <a href="http://people.ischool.berkeley.edu/~kimiko/">Kimiko Ryokai</a>, <a href="https://www.google.com/atap/project-jacquard/">Google ATAP Project Jacquard</a></p>
