{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.teaching_header(ctx.page, ctx) }}


<p>
How can tangible, embodied interactions provide richer, more meaningful interactions with digital media? This graduate class teaches theory and practice of tangible interaction design. My duties included providing critique and mentorship on student projects and hands-on Arduino, electronics, and soldering instruction. I also helped revamp the curriculum to include more interaction design theories such as reflective, speculative, and critical design; more hands-on design thinking activities; and more circuit explorations that produce sound.
</p>



<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/NujCd3QTDOY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p class="caption">
Student project SoundGlove explores tactile textures and sounds. The students published their project in <a href="https://dl.acm.org/doi/10.1145/3170427.3188554">CHI Extended Abstracts 2018</a>.
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/tDi75Z1Pnbg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
<p class="caption">
Geometris began as a student project in this class. It went on to be published in <a href="https://dl.acm.org/doi/10.1145/3027063.3048413">CHI Extended Abstracts 2017</a>, to win the Student Game Competition there, and to become the thesis research of <a href="https://edrl.berkeley.edu/people/leah-rosenbaum/">Leah Rosenbaum</a>.
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/rRKOxJWXcjk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p class="caption">
Student project Magic Musical Mat went on to become part of the thesis research of <a href="https://edrl.berkeley.edu/people/rachel-chen/">Rachel Chen</a> and a research project for Arianna Ninh.
</p>

<img class="text-flow" style="width:560px;" src="/static/img/1000px_wide/tui_taste_sound.jpg">
<p class="caption">
This student project explored how sounds can influence our perception of taste.
</p>

<p>
Taught in my role as teaching assistant with professor Kimiko Ryokai at University of California, Berkeley.
</p>







{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
