{% extends "subpage_base.html" %}

{% block content %}

<div class="images project-page">
    <div class="image waazam border"></div>
</div>

<p>
    <a href="http://waazam.com" target="_blank">WaaZam</a> supports shared creative play at a distance. It was the doctoral research of <a href="http://perspectum.com" target="_blank">Seth Hunter</a> in the <a href="http://fluid.media.mit.edu/" target="_blank">Fluid Interfaces Group</a> at the <a href="http://media.mit.edu/" target="_blank">MIT Media Lab</a>. I helped conduct the user study, analyze those results, and write the C++ software.
</p>

{% endblock content %}
