{% import 'macros.html' as macros %}
{{ macros.base_header() }}
{{ macros.project_header(ctx.page, ctx, "") }}


<img src="/static/img/1000px_wide/masnavi_margin_edit.jpg" alt="abstract pixelated pattern in black, cyan, magenta, and yellow on white background">
<p class="caption">Image is modified from the margin of a page of Rumi's Masnavi. The <a href="https://www.metmuseum.org/art/collection/search/446547">original image</a> is hosted by the Metropolitan Museum of Art.</p>

<h2>Exploring Technological Mediation in Sufi Spiritual Practice</h2>

<p>Co-authoring with Sandjar Kozubaev</p>

<p>
Design research and HCI increasingly explore techno-spirituality. We investigated Sufi practices of group zikr, a ritual practice of remembrance of God. We focus on zikr groups that offer online or hybrid participation. We conducted a qualitative study using interviews with practitioners and collaborative autoethnography as researchers/practitioners. Our findings surface themes of (i) shared spiritual energy, (ii) sensory experiences’ role in spiritual energy, (iii) impact of technological
mediation on sensory and spiritual experiences, and the (iv) importance of community. Our discussion contributes design considerations for techno-spirituality around (1) attunement, (2) practical audiovisual suggestions, and (3) ‘sensational forms’. Overall, we offer detailed experiential accounts of entanglements of sensory perception, spirituality, and attunement, and present generative design reflections suggesting avenues of further design research in supporting religious, faith-based,
and/or spiritual practices in HCI.
</p>


<h2>Papers</h2>

{{ macros.bib(ctx.bibs_by_ID['kozubaevTuningListeningCurrent2024']) }}

<p>
    Sandjar and I also have a workshop paper entitled 
    <a href="/static/pdf/2024_NordiCHI_RS_Workshop_Paper.pdf">
        "Reflecting on the Role of Embodiment in Sufi Zikr"
    </a>
    in the NordiCHI workshop 
    <a href="https://sites.google.com/view/nordichi2024-rs/home?authuser=0">
        Navigating Intersections of Religion/Spirituality and Human-Computer Interaction
    </a>.
</p>

{{ macros.project_footer(ctx.page, ctx) }}
{{ macros.base_footer() }}
